[
	{ "dungeon" : "sbqHub_humanHouse", "dungeonId" : 8, "protect" : true, "placeOffset" : [ -26, 0 ], "spawnOnce" : true },
	{ "dungeon" : "sbqHub_hylotlHouse", "dungeonId" : 8, "protect" : true, "placeOffset" : [ -32, 0 ], "spawnOnce" : true },
	{ "dungeon" : "sbqHub_glitchHouse", "dungeonId" : 8, "protect" : true, "placeOffset" : [ -26, 0 ], "spawnOnce" : true },
	{ "dungeon" : "sbqHub_avianHouse", "dungeonId" : 8, "protect" : true, "placeOffset" : [ -32, 0 ], "spawnOnce" : true },
	{ "dungeon" : "sbqHub_floranHouse", "dungeonId" : 8, "protect" : true, "placeOffset" : [ -32, 0 ], "spawnOnce" : true },
	{ "dungeon" : "sbqHub_apexHouse", "dungeonId" : 8, "protect" : true, "placeOffset" : [ -36, 0 ], "spawnOnce" : true },
	{ "dungeon" : "sbqHub_novakidHouse", "dungeonId" : 8, "protect" : true, "placeOffset" : [ -32, 0 ], "spawnOnce" : true },
	{ "dungeon" : "sbqHub_novaliHouse", "dungeonId" : 8, "protect" : true, "placeOffset" : [ -32, 0 ], "spawnOnce" : true, "checkRequirements" : { "checkImage" : "/humanoid/novali/malebody.png", "checkItems" : ["campslope1"] } } // checks if novali is installed via the body image, and avali via the item

]
