{
	"pred" : [
		{ "result" : "sbqCoreAvian", "materials" : [ { "item" : "money", "count" : 2000 } ] },
		{ "result" : "sbqCoreSlime", "materials" : [ { "item" : "money", "count" : 1000 } ] },
		{ "result" : "sbqCoreVaporeon", "materials" : [ { "item" : "money", "count" : 2000 } ] },
		//{ "result" : "sbqCoreZoroark", "materials" : [ { "item" : "money", "count" : 2000 } ] },
		{ "result" : "sbqCoreXeronious", "materials" : [ { "item" : "money", "count" : 2000 } ] },
		{ "result" : "sbqCoreZiellekDragon", "materials" : [ { "item" : "money", "count" : 2000 } ] }
	],
	"furniture" : [
		{ "result" : "sbqVoreColonyDeed", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqSpawnerInvisible", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqSpawnerVappyBed", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqSpawnerKaijuNest", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqBallsPoster", "materials" : [ { "item" : "money", "count" : 100 } ] }
	],
	"modifier" : [
		{ "result" : "sbqModifierAcidicPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierWeakAcidicPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierHealingPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierInertPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierBubblySoda", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierDietPill", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierFatteningDonut", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierStickyHoney", "materials" : [ { "item" : "money", "count" : 100 } ] }

	],
	"tool" : [
		{ "result" : "sbqNominomicon", "materials" : [ { "item" : "money", "count" : 1000 } ] },
		{ "result" : "sbqController", "materials" : [ { "item" : "money", "count" : 1 } ] },
		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "oralVore" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },
		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "succ" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },

		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "tailVore" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },
		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "absorbVore" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },
		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "analVore" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },

		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "cockVore" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },
		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "unbirth" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },
		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "breastVore" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },

		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "navelVore" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },
		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "physicalAttack" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },
		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "specialAttack" }}, "materials" : [ { "item" : "money", "count" : 1 } ] },
		{ "result" : "sbqController", "parameters": { "scriptStorage": { "clickAction": "grab" }}, "materials" : [ { "item" : "money", "count" : 1 } ] }

	],
	"transformation" : [
		{ "result" : "sbqPotionDartGun", "materials" : [ { "item" : "money", "count" : 2000 } ] },
		{ "result" : "sbqMysteriousPotion", "materials" : [ { "item" : "money", "count" : 500 } ] },
		{ "result" : "sbqDuplicatePotion", "materials" : [ { "item" : "money", "count" : 600 } ] },
		{ "result" : "sbqSpeciesPotion", "materials" : [ { "item" : "money", "count" : 500 } ] },
		{ "result" : "sbqGenderSwapPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqReversionPotion", "materials" : [ { "item" : "money", "count" : 10 } ] },

		{ "result" : "sbqPotionAvian", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqPotionSlime", "materials" : [ { "item" : "money", "count" : 3000 } ] },
		{ "result" : "sbqPotionVaporeon", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		//{ "result" : "sbqPotionZoroark", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqPotionXeronious", "materials" : [ { "item" : "money", "count" : 4888 } ] },
		{ "result" : "sbqConsumableZiellekPearl", "materials" : [ { "item" : "money", "count" : 4888 } ] }
	],
	"misc" : [
		{ "result" : "sbqPlasticEgg", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["777777","999999","cccccc","ffffff"],["777777","999999","cccccc","ffffff"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=777777?replace;678857=999999?replace;779e64=cccccc?replace;9ccd83=ffffff?replace;70695a=777777?replace;a99f87=999999?replace;eae0c8=cccccc?replace;fff6de=ffffff"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["516d29","68883b","7ea14c","a7cc6d"],["516d29","68883b","7ea14c","a7cc6d"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=516d29?replace;678857=68883b?replace;779e64=7ea14c?replace;9ccd83=a7cc6d?replace;70695a=516d29?replace;a99f87=68883b?replace;eae0c8=7ea14c?replace;fff6de=a7cc6d"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["968d31","b1a83f","CCC251","e8de62"],["968d31","b1a83f","CCC251","e8de62"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=968d31?replace;678857=b1a83f?replace;779e64=CCC251?replace;9ccd83=e8de62?replace;70695a=968d31?replace;a99f87=b1a83f?replace;eae0c8=CCC251?replace;fff6de=e8de62"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["b14e34","c45d42","df7154","f28161"],["b14e34","c45d42","df7154","f28161"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=b14e34?replace;678857=c45d42?replace;779e64=df7154?replace;9ccd83=f28161?replace;70695a=b14e34?replace;a99f87=c45d42?replace;eae0c8=df7154?replace;fff6de=f28161"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["418396","549aae","66adc1","79c4d9"],["418396","549aae","66adc1","79c4d9"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=418396?replace;678857=549aae?replace;779e64=66adc1?replace;9ccd83=79c4d9?replace;70695a=418396?replace;a99f87=549aae?replace;eae0c8=66adc1?replace;fff6de=79c4d9"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["934a62","a95c75","c7738e","d9809e"],["934a62","a95c75","c7738e","d9809e"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=934a62?replace;678857=a95c75?replace;779e64=c7738e?replace;9ccd83=d9809e?replace;70695a=934a62?replace;a99f87=a95c75?replace;eae0c8=c7738e?replace;fff6de=d9809e"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["563c6a","634878","75588b","8968a1"],["563c6a","634878","75588b","8968a1"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=563c6a?replace;678857=634878?replace;779e64=75588b?replace;9ccd83=8968a1?replace;70695a=563c6a?replace;a99f87=634878?replace;eae0c8=75588b?replace;fff6de=8968a1"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["777777bc","999999bc","ccccccbc","ffffffbc"],["777777bc","999999bc","ccccccbc","ffffffbc"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=777777bc?replace;678857=999999bc?replace;779e64=ccccccbc?replace;9ccd83=ffffffbc?replace;70695a=777777bc?replace;a99f87=999999bc?replace;eae0c8=ccccccbc?replace;fff6de=ffffffbc"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["516d29bc","68883bbc","7ea14cbc","a7cc6dbc"],["516d29bc","68883bbc","7ea14cbc","a7cc6dbc"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=516d29bc?replace;678857=68883bbc?replace;779e64=7ea14cbc?replace;9ccd83=a7cc6dbc?replace;70695a=516d29bc?replace;a99f87=68883bbc?replace;eae0c8=7ea14cbc?replace;fff6de=a7cc6dbc"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["968d31bc","b1a83fbc","CCC251bc","e8de62bc"],["968d31bc","b1a83fbc","CCC251bc","e8de62bc"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=968d31bc?replace;678857=b1a83fbc?replace;779e64=CCC251bc?replace;9ccd83=e8de62bc?replace;70695a=968d31bc?replace;a99f87=b1a83fbc?replace;eae0c8=CCC251bc?replace;fff6de=e8de62bc"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["b14e34bc","c45d42bc","df7154bc","f28161bc"],["b14e34bc","c45d42bc","df7154bc","f28161bc"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=b14e34bc?replace;678857=c45d42bc?replace;779e64=df7154bc?replace;9ccd83=f28161bc?replace;70695a=b14e34bc?replace;a99f87=c45d42bc?replace;eae0c8=df7154bc?replace;fff6de=f28161bc"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["418396bc","549aaebc","66adc1bc","79c4d9bc"],["418396bc","549aaebc","66adc1bc","79c4d9bc"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=418396bc?replace;678857=549aaebc?replace;779e64=66adc1bc?replace;9ccd83=79c4d9bc?replace;70695a=418396bc?replace;a99f87=549aaebc?replace;eae0c8=66adc1bc?replace;fff6de=79c4d9bc"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["934a62bc","a95c75bc","c7738ebc","d9809ebc"],["934a62bc","a95c75bc","c7738ebc","d9809ebc"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=934a62bc?replace;678857=a95c75bc?replace;779e64=c7738ebc?replace;9ccd83=d9809ebc?replace;70695a=934a62bc?replace;a99f87=a95c75bc?replace;eae0c8=c7738ebc?replace;fff6de=d9809ebc"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqPlasticEgg", "parameters":{"scriptStorage":{"settings":{ "firstLoadDone" : true, "replaceColorTable":[["563c6abc","634878bc","75588bbc","8968a1bc"],["563c6abc","634878bc","75588bbc","8968a1bc"]],"skinNames":{"head":"plastic"},"directives":"?replace;47623a=563c6abc?replace;678857=634878bc?replace;779e64=75588bbc?replace;9ccd83=8968a1bc?replace;70695a=563c6abc?replace;a99f87=634878bc?replace;eae0c8=75588bbc?replace;fff6de=8968a1bc"}}}, "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqEggWand", "materials" : [ { "item" : "money", "count" : 9999 } ] }

	]
}
