{
	"pred" : [
		{ "result" : "sbqCoreAvian", "materials" : [ { "item" : "money", "count" : 4000 } ] },
		{ "result" : "sbqCoreCharem", "materials" : [ { "item" : "money", "count" : 3000 } ] },
		{ "result" : "sbqCoreSlime", "materials" : [ { "item" : "money", "count" : 2000 } ] },
		{ "result" : "sbqCoreVaporeon", "materials" : [ { "item" : "money", "count" : 4000 } ] },
		{ "result" : "sbqCoreXeronious", "materials" : [ { "item" : "money", "count" : 4000 } ] }
	],
	"spawner" : [
		{ "result" : "sbqSpawnerInvisible", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqSpawnerVappyBed", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqSpawnerKaijuNest", "materials" : [ { "item" : "money", "count" : 100 } ] }
	],
	"modifier" : [
		{ "result" : "sbqModifierAcidicPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierWeakAcidicPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierHealingPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierInertPotion", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierBubblySoda", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierDietPill", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierFatteningDonut", "materials" : [ { "item" : "money", "count" : 100 } ] },
		{ "result" : "sbqModifierStickyHoney", "materials" : [ { "item" : "money", "count" : 100 } ] }

	],
	"tool" : [
		{ "result" : "sbqNominomicon", "materials" : [ { "item" : "money", "count" : 2000 } ] }
		//{ "result" : "sbqEggWand", "materials" : [ { "item" : "money", "count" : 9999 } ] }
	],
	"transformation" : [
		{ "result" : "sbqPotionAvian", "materials" : [ { "item" : "money", "count" : 8888 } ] },
		{ "result" : "sbqPotionVaporeon", "materials" : [ { "item" : "money", "count" : 8888 } ] },
		{ "result" : "sbqPotionXeronious", "materials" : [ { "item" : "money", "count" : 8888 } ] },
		{ "result" : "sbqPotionSlime", "materials" : [ { "item" : "money", "count" : 3000 } ] },
		{ "result" : "sbqConsumableZiellekPearl", "materials" : [ { "item" : "money", "count" : 8888 } ] }
	]
}
