{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background", // 240 width
			"fileHeader" : "/interface/scripted/sbq/header.png", // 24
			"fileBody" : "/interface/scripted/sbq/body.png", // 112
			"fileFooter" : "/interface/scripted/sbq/footer.png" // 40
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 224, 158 ]
		},

		"icon" : {
			"type" : "image",
			"file" : "/items/active/sbqPreyEnabler/sbqPreyEnabler.png",
			"position" : [ 8, 156 ]
		},

		"title" : {
			"type" : "title",
			"title" : "Prey Enabler",
			"subtitle" : "What kind of preything are you?"
		},

		"enabled" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 23 ]
		},
		"enabledLabel": {
			"type" : "label",
			"value" : "Prey Enabled",
			"position" : [ 19, 23 ]
		},

		"oralVoreLabel": {
			"type" : "label",
			"value" : "Oral Vore",
			"position" : [ 19, 139 ]
		},
		"oralVore" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 139 ]
		},

		"analVoreLabel": {
			"type" : "label",
			"value" : "Anal Vore",
			"position" : [ 19, 129 ]
		},
		"analVore" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 129 ]
		},

		"tailVoreLabel": {
			"type" : "label",
			"value" : "Tail Vore",
			"position" : [ 19, 119 ]
		},
		"tailVore" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 119 ]
		},

		"absorbVoreLabel": {
			"type" : "label",
			"value" : "Absorbtion",
			"position" : [ 19, 109 ]
		},
		"absorbVore" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 109 ]
		},

		"unbirthLabel": {
			"type" : "label",
			"value" : "Unbirth",
			"position" : [ 19, 99 ]
		},
		"unbirth" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 99 ]
		},
		"cockVoreLabel": {
			"type" : "label",
			"value" : "Cock Vore",
			"position" : [ 19, 89 ]
		},
		"cockVore" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 89 ]
		},

		"breastVoreLabel": {
			"type" : "label",
			"value" : "Breast Vore",
			"position" : [ 19, 79 ]
		},
		"breastVore" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 79 ]
		},

		"heldLabel": {
			"type" : "label",
			"value" : "Grabbed/Held",
			"position" : [ 102, 139 ]
		},
		"held" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 90, 139 ]
		}
	},

	"scriptWidgetCallbacks" : [
		"enabled",
		"held",
		"oralVore",
		"analVore",
		"tailVore",
		"absorbVore",
		"unbirth",
		"cockVore",
		"breastVore"
	],

	"scripts" : [ "/interface/scripted/sbq/sbqPreyEnabler/sbqPreyEnabler.lua" ],
	"scriptDelta" : 5
}
