{
	"sbqData" : {
		"merge" : ["/humanoid/sbqData.config"],
		"locations" : {
			"belly" : {
				"TF" : {},
				"passiveToggles" : ["TF"], "preyActions" : [
					{ "name":"Turbo Digest", "script":"turboDigest", "checkSettings": { "bellyEffectSlot" : ["softDigest", "digest"]} },
					{ "name":"Transform", "script":"transform"}
				]
			},
			"womb" : {
				"Eggify" : {
					"preset" : "plasticEgg"
				}
			}
		}
	}
}
