{
	"globalTagDefaults" : {
		"bellyMask" : "/humanoid/any/sbqVoreParts/quadruped/belly.png",
		"pussyMask" : "/humanoid/any/sbqVoreParts/pussy.png",
		"cockMask" : "/humanoid/any/sbqVoreParts/cock.png",
		"ballsFrontMask" : "/humanoid/any/sbqVoreParts/ballsFront.png",
		"ballsBackMask" : "/humanoid/any/sbqVoreParts/ballsBack.png"
	},
	"remapParts" : {
		"belly" : {
			"imagePath" : "any/sbqVoreParts/quadruped",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","secondary"]
			]
		}
	}
}
