{
	"inedibleCreatures" : [
		"apeboss",
		"apebossprojector",
		"crystalboss",
		//"cultistboss", // She IS a human after all... very much nommable... not sure if eating her would break shit though
		"dragonboss",
		"eyeboss",
		"guardianboss",
		"guardianminion", // these are small, but they're also part of the boss so... probably shouldn't eat them
		"kluexboss",
		"kluexbossstatue",
		"ophanim", // I'm not sure what these are but they're in the boss folder so
		//"penguinMiniUfo", // small enough to edible I think
		"penguinUfo",
		"robotboss",
		"spiderboss",
		"swansong",
		"penguinUfo",
		// below are 'monsters' from other mods that should not be edible, report any and they'll be added to the list
		"supbar"
	],
	"speciesStrugglesDisabled" : [
		"egg",
		"xeronious_egg"
	],
	"bellyStatusEffects" : [
		"pvsoRemoveBellyEffects",
		"pvsoVoreHeal",
		"pvsoDigest",
		"pvsoSoftDigest",
		"pvsoDisplayVoreHeal",
		"pvsoDisplayDigest",
		"pvsoDisplaySoftDigest"
	],
	"bellyDisplayStatusEffects" : {
		"pvsoVoreHeal": "pvsoDisplayVoreHeal",
		"pvsoDigest": "pvsoDisplayDigest",
		"pvsoSoftDigest": "pvsoDisplaySoftDigest"
	},
	"defaultSettings" : {
		"bellyEffect" : "pvsoRemoveBellyEffects",
		"bellySounds" : true,
		"displayDamage" : false,
		"escapeModifier" : "normal",
		"fatten" : 0,
		"defaultSmall" : false,
		"autoDeploy" : false,
		"replaceColors": [],
		"fullbright" : [],
		"directives" : "",
		"fullbrightDirectives" : "",
		"replaceSkin" : {},
		"skinNames" : {},
		"blackHoleBelly" : false
	},
	"pvsoAllowedItems": {
		"driver":[
			//lock item
			"pvsoSecretTrick",
			//essential item tools
			"beamaxe",
			"wiretool",
			"painttool",
			"inspectiontool",
			"inspectionmode",
			"scanmode",
			//items meant for this
			"pvsoController",
			"pvsoPreyEnabler",
			//other items
			"fishaxe",
			"superfishaxe",
			"superfishaxedrop",
			//modded essential items
			"beamaxeapex",
			"beamaxeelunite",
			"beamaxehylotl",
			"fumastermanipulator",
			"mmgravgun",
			"mmgravgun2",
			"mmgravgun3",
			//not sure, but gonna mark them as usable
			"beamaxeX"

		],
		"prey":[
			"pvsoSecretTrick",
			"pvsoController",
			"pvsoPreyEnabler"
		]
	},
	"pvsoBannedTags":{
		"driver":[
			"weapon",
			"vehiclecontroller",
			"toy",
			"shield"
		],
		"prey":[
			"weapon",
			"tool",
			"melee",
			"toy",
			"vehiclecontroller",
			"shield"
		]
	},
	"pvsoBannedCategories":{ // while we want to let the driver do things, we want to limit what they prey can do when they're inside
		"driver":[
		],
		"prey":[
			"Tool",
			"tool",
			"Tool ^green;[R]",
			"fishingRod",
			"quest",
			"block",
			"platform",
			"rail",
			"liquid",
			"actionFigure",
			"decorative",
			"trap",
			"other",
			"throwableItem",
			"Drone",
			"toy",
			"railPlatform",
			"mysteriousReward",
			"vehicleController",
			"light",
			"storage",
			"door",
			"breakable",
			"wire",
			"genboss",
			"furniture",
			"fridgeStorage"
		]
	},
	"lockItemDescriptor":{
		"parameters":{
			"scriptStorage": {
				"itemDescriptors" : [],
				"timeUntilUnlock": 1,
				"lockedEssentialItems" : {}
			}
		},
		"count":1,
		"name":"pvsoSecretTrick"
	},
	"pvsoModifiers" : {
		"none" : [
			"spovpillcleanse"
		],
		"heal" : [
			"spovpillheal"
		],
		"digest" : [
			"spovpilldigest"
		],
		"softDigest" : [
			"spovpillsoftdigest"
		],
		"antiEscape" : [
			"spovpillantiescape"
		],
		"easyEscape" : [
			"spovpilleasyescape"
		],
		"fatten" : [
			"spovpilldonut"
		],
		"diet" : [
			"spovpilldiet"
		]
	},
	"defaultPreyEnabled" : {
		"player" : {
			"enabled" : true,
			"held" : true,
			"oralVore" : true,
			"analVore" : true,
			"tailVore" : true,
			"unbirth" : false,
			"cockVore" : false,
			"breastVore" : false,
			"absorbVore" : true
		},
		"npc" : {
			"enabled" : true,
			"held" : true,
			"oralVore" : true,
			"analVore" : true,
			"tailVore" : true,
			"unbirth" : true,
			"cockVore" : true,
			"breastVore" : true,
			"absorbVore" : true
		},
		"monster" : {
			"enabled" : true,
			"held" : true,
			"oralVore" : true,
			"analVore" : true,
			"tailVore" : true,
			"unbirth" : false,
			"cockVore" : false,
			"breastVore" : false,
			"absorbVore" : true
		}
	}
}
