{
	"SSVMParityEnabled" : false,
	"scripts" : [
		"/vehicles/sbq/sbq_messages.lua"
	],
	"inedibleCreatures" : {
		"erchiusghost" : true,
		"apeboss" : true,
		"apebossprojector" : true,
		"crystalboss" : true,
		//"cultistboss" : true, // She IS a human after all... very much nommable... not sure if eating her would break shit though
		"dragonboss" : true,
		"eyeboss" : true,

		"guardianboss" : true,
		"electricguardianboss" : true,
		"fireguardianboss" : true,
		"iceguardianboss" : true,
		"poisonguardianboss" : true,
		"guardianminion" : true, // these are small, but they're also part of the boss so... probably shouldn't eat them
		"collidingminion" : true,
		"electricrangedminion" : true,
		"firerangedminion" : true,
		"icerangedminion" : true,
		"largeminion" : true,
		"poisonrangedminion" : true,

		"kluexboss" : true,
		"kluexbossstatue" : true,
		"ophanim" : true, // I'm not sure what these are but they're in the boss folder so
		"penguinMiniUfo" : true, // small enough to edible I think
		"penguinUfo" : true,
		"robotboss" : true,
		"spiderboss" : true,
		"swansong" : true,

		// Betabound Boss monsters
		"sb_penguinUfo" : true,

		// betabound event stuff, seems like it shouldn't be eaten
		"sb_envprobe" : true,
		"sb_envprobe2" : true,
		"sb_ruinportal" : true,

		// FU boss monsters
		"fleshtyrant" : true,
		"kluexsentry2" : true,
		"dollboss" : true,
		"electricfuguardianboss" : true,
		"firefuguardianboss" : true,
		"icefuguardianboss" : true,
		"poisonfuguardianboss" : true,
		"shadowfuguardianboss" : true,
		"shadowguardianboss" : true,
		"fuguardianminion" : true,
		"shadowrangedminion" : true,
		"infernusdroid" : true,
		"bighairyfrankboss" : true,
		"bighairyfrankbaby" : true,
		"bighairyfrankbabyrad" : true,
		"precursorwarbot" : true,
		"shoggoth" : true,
		"shoggoth2" : true,
		"tentaclecomet" : true,
		"warbot" : true,
		"warbot2" : true,

		// below are 'monsters' from other mods that should not be edible, report any and they'll be added to the list
		"supbar": true
	},
	"speciesStrugglesDisabled" : {
		"sbqEgg" : true
	},
	"vornyConvertTable" : {
		"villager" : "sbqVoreVillager",
		"villageguard" : "sbqVoreVillageGuard",
		"villageguardcaptain" : "sbqVoreVillageGuardCaptain",
		"crewmember" : "sbqVoreCrewmember"
	},
	"defaultLocationData" :{
		"belly" : { "name" : "Belly", "selectEffect" : true, "hammerspace" : true, "voreTypes" : ["oralVore"] },
		"womb" : { "name" : "Womb", "selectEffect" : true, "hammerspace" : true, "voreTypes" : ["unbirth"] ,
			"digest" : { "effect" : "sbqFemcumDigest", "toolTip" : "Prey within will be melted into femcum, boosted by your attack power.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"softDigest" : { "effect" : "sbqFemcumSoftDigest", "toolTip" : "Prey within will be melted into femcum, boosted by your attack power.\nBut they will always retain 1HP.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"TF" : {},
			"eggify" : { "preset" : "egg" }
		},
		"tail" : { "name" : "Tail", "selectEffect" : true, "voreTypes" : ["tailVore"] },
		"shaft" : { "name" : "Shaft", "selectEffect" : true, "voreTypes" : ["cockVore"] ,
			"digest" : { "effect" : "sbqCumDigest", "toolTip" : "Prey within will be melted into cum, boosted by your attack power.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"softDigest" : { "effect" : "sbqCumSoftDigest", "toolTip" : "Prey within will be melted into cum, boosted by your attack power.\nBut they will always retain 1HP.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"TF" : { "immunity" : "cumTFImmunity", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png", "toolTip" : "Prey within will be transformed into cum.", "preset" : "cumBlob" }
		},
		"balls" : { "name" : "Balls", "selectEffect" : true, "sided" : true, "hammerspace" : true, "voreTypes" : ["cockVore"],
			"digest" : { "effect" : "sbqCumDigest", "toolTip" : "Prey within will be melted into cum, boosted by your attack power.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"softDigest" : { "effect" : "sbqCumSoftDigest", "toolTip" : "Prey within will be melted into cum, boosted by your attack power.\nBut they will always retain 1HP.", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png"},
			"TF" : { "immunity" : "cumTFImmunity", "icon" : "/interface/scripted/sbq/sbqSettings/cum.png", "toolTip" : "Prey within will be transformed into cum.", "preset" : "cumBlob" }
		},
		"ballsL" : { "name" : "Left Ball" },
		"ballsR" : { "name" : "Right Ball" },

		"breasts" : { "name" : "Breasts", "selectEffect" : true, "sided" : true, "hammerspace" : true, "voreTypes" : ["breastVore"],
			"digest" : { "effect" : "sbqMilkDigest", "toolTip" : "Prey within will be churned into milk, boosted by your attack power.", "icon" : "/interface/scripted/sbq/sbqSettings/milk.png"},
			"softDigest" : { "effect" : "sbqMilkSoftDigest", "toolTip" : "Prey within will be churned into milk, boosted by your attack power.\nBut they will always retain 1HP.", "icon" : "/interface/scripted/sbq/sbqSettings/milk.png"}
		},
		"breastsL" : { "name" : "Left Breast" },
		"breastsR" : { "name" : "Right Breast" }
	},

	"bellyStatusEffects" : [
		"sbqRemoveBellyEffects",
		"sbqHeal",
		"sbqDigest",
		"sbqSoftDigest",
		"sbqHealDisplay",
		"sbqDigestDisplay",
		"sbqSoftDigestDisplay",
		"sbqCumDigest",
		"sbqCumDigestDisplay",
		"sbqCumSoftDigest",
		"sbqCumSoftDigestDisplay",
		"sbqFemcumDigest",
		"sbqFemcumDigestDisplay",
		"sbqFemcumSoftDigest",
		"sbqFemcumSoftDigestDisplay",
		"sbqMilkDigest",
		"sbqMilkDigestDisplay",
		"sbqMilkSoftDigest",
		"sbqMilkSoftDigestDisplay"
	],
	"bellyDisplayStatusEffects" : {
		"sbqHeal": "sbqHealDisplay",
		"sbqDigest": "sbqDigestDisplay",
		"sbqSoftDigest": "sbqSoftDigestDisplay",
		"sbqCumDigest": "sbqCumDigestDisplay",
		"sbqCumSoftDigest": "sbqCumSoftDigestDisplay",
		"sbqFemcumDigest": "sbqFemcumDigestDisplay",
		"sbqFemcumSoftDigest": "sbqFemcumSoftDigestDisplay",
		"sbqMilkDigest": "sbqMilkDigestDisplay",
		"sbqMilkSoftDigest": "sbqMilkSoftDigestDisplay"
	},
	"bellyStatusEffectNames" : {
		"sbqRemoveBellyEffects": "No Effect",
		"sbqHeal": "Healing",
		"sbqDigest": "Digest",
		"sbqSoftDigest": "Soft Digest",
		"sbqCumDigest": "Cum Digest",
		"sbqCumSoftDigest": "Soft Cum Digest",
		"sbqFemcumDigest": "Femcum Digest",
		"sbqFemcumSoftDigest": "Soft Femcum Digest",
		"sbqMilkDigest": "Milk Digest",
		"sbqMilkSoftDigest": "Soft Milk Digest"
	},
	"predStatusEffects" : [
		"sbqInvisible",
		"sbqScaling",
		"sbqVictimMask"
	],
	"effectDefaults" : {
		"none" : "sbqRemoveBellyEffects",
		"heal" : "sbqHeal",
		"softDigest" : "sbqSoftDigest",
		"digest" : "sbqDigest"
	},
	"globalSettings" : {
		"predDigestItemDrops" : true,
		"displayDigest" : false,
		"escapeDifficulty": 0,
		"impossibleEscape": false,
		"hammerspace" : false,

		"oralVorePred" : false,
		"tailVorePred" : false,
		"absorbVorePred" : false,
		"navelVorePred" : false,

		"analVorePred" : false,
		"unbirthPred" : false,
		"cockVorePred" : false,
		"breastVorePred" : false
	},
	"defaultSettings" : {
		"predDigestItemDrops" : true,
		"displayDigest" : false,
		"escapeDifficulty": 0,
		"impossibleEscape": false,

		"hammerspace" : false,

		"replaceColors" : [],
		"replaceColorTable" : [],
		"fullbright" : [],
		"directives" : "",
		"replaceSkin" : {},
		"skinNames" : {},

		"oralVorePred" : false,
		"tailVorePred" : false,
		"absorbVorePred" : false,
		"navelVorePred" : false,

		"analVorePred" : false,
		"unbirthPred" : false,
		"cockVorePred" : false,
		"breastVorePred" : false
	},
	"tenantDefaultSettings" : {

		"questParticipation" : true,
		"crewmateGraduation" : true,

		"allowHunting" : true,
		"huntFriendlyPlayers" : false,
		"huntHostilePlayers" : true,
		"huntFriendlyNPCs" : false,
		"huntHostileNPCs" : true,
		"huntFriendlyMonsters" : false,
		"huntHostileMonsters" : true,
		"allowBaiting" : true,
		"baitFriendlyPlayers" : true,
		"baitHostilePlayers" : false,
		"baitFriendlyNPCs" : true,
		"baitHostileNPCs" : false,
		"personality" : "default",
		"mood" : "default",

		"oralVorePredEnable" : false,
		"tailVorePredEnable" : false,
		"absorbVorePredEnable" : false,
		"navelVorePredEnable" : false,

		"analVorePredEnable" : false,
		"unbirthPredEnable" : false,
		"cockVorePredEnable" : false,
		"breastVorePredEnable" : false,

		"TGOnlyEnable" : false,
		"TFTGNoChangeEnable" : false,
		"TFTGSwapEnable" : false,
		"TFTGRandomEnable" : false,
		"TFTGMaleEnable" : false,
		"TFTGFemaleEnable" : false
	},
	"sbqAllowedItems": {
		"driver": {
			//lock item
			"sbqLockedItem" : true,
			//essential item tools
			"beamaxe" : true,
			"wiretool" : true,
			"painttool" : true,
			"inspectiontool" : true,
			"inspectionmode" : true,
			"scanmode" : true,
			//items meant for this
			"sbqController" : true,
			"sbqNominomicon" : true,
			//other items
			"fishaxe" : true,
			"superfishaxe" : true,
			"superfishaxedrop" : true,
			//modded essential items
			"beamaxeapex" : true,
			"beamaxeelunite" : true,
			"beamaxehylotl" : true,
			"fumastermanipulator" : true,
			"mmgravgun" : true,
			"mmgravgun2" : true,
			"mmgravgun3" : true,
			//not sure, but gonna mark it as usable
			"beamaxeX" : true,
			// other modded items
			"stctrickeries" : true

		},
		"prey": {
			"inspectiontool" : true,
			"inspectionmode" : true,
			"scanmode" : true,

			"sbqLockedItem" : true,
			"sbqController" : true,
			"sbqNominomicon" : true,
			"stctrickeries" : true
		}
	},
	"sbqBannedTags":{
		"driver":[
			"weapon",
			"vehiclecontroller",
			"toy",
			"shield"
		],
		"prey":[
			"weapon",
			"tool",
			"melee",
			"toy",
			"vehiclecontroller",
			"shield",
			"sbqTransformation"
		]
	},
	"sbqBannedItemTypes":{
		"driver": {},
		"prey": {
			"object" : true,
			"liquid" : true,
			"material" : true
		}
	},
	"lockItemDescriptor":{
		"parameters":{
			"scriptStorage": {
				"itemDescriptors" : [],
				"timeUntilUnlock": 1,
				"lockedEssentialItems" : {}
			}
		},
		"count":1,
		"name":"sbqLockedItem"
	},
	"npcCardTemplate" : { // from NpcSpawnerPlus just so we can use the same card system but not need it installed
		"item": "secretnote",
		"count": 1,
		"parameters": {
			"rarity": "Common",
			"description": ".",
			"shortdescription": "NpcName",
			"tooltipKind": "filledcapturepod",
			"tooltipFields": {
				"subtitle": "npcType",
				"collarNameLabel": "Created By:  PlayerName",
				"collarIconImage": "/objects/human/bunkerpanel2/bunkerpanel2icon.png",
				"noCollarLabel": "",
				"objectImage": "fullPortrait"
			}
		}
	},
	"npcPersonalities" : [
		"default",
		"flirty",
		"shy"
	],
	"npcMoods" : [
		"default",
		"hungry",
		"horny",
		"fearful",
		"friendly"
	],
	"voreTypes" : [
		"oralVore",
		"tailVore",
		"absorbVore",
		"navelVore",

		"analVore",
		"unbirth",
		"cockVore",
		"breastVore"
	],
	"defaultPreyEnabled" : {
		"player" : {
			"preyEnabled" : true,
			"digestImmunity" : false,
			"cumDigestImmunity" : true,
			"femcumDigestImmunity" : true,
			"milkDigestImmunity" : true,
			"transformImmunity" : false,
			"allowSoftDigest" : false,
			"allowCumSoftDigest" : false,
			"allowFemcumSoftDigest" : false,
			"allowMilkSoftDigest" : false,
			"cumTFImmunity" : true,
			"genderswapImmunity" : true,
			"eggImmunity" : false,
			"digestItemDrops" : true,

			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : false,

			"analVore" : false,
			"unbirth" : false,
			"cockVore" : false,
			"breastVore" : false
		},
		"npc" : {
			"preyEnabled" : true,
			"digestImmunity" : false,
			"cumDigestImmunity" : false,
			"femcumDigestImmunity" : false,
			"milkDigestImmunity" : false,
			"allowSoftDigest" : false,
			"allowCumSoftDigest" : false,
			"allowFemcumSoftDigest" : false,
			"allowMilkSoftDigest" : false,
			"transformImmunity" : false,
			"cumTFImmunity" : false,
			"genderswapImmunity" : false,
			"eggImmunity" : false,
			"digestItemDrops" : true,

			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : true,

			"analVore" : true,
			"unbirth" : true,
			"cockVore" : true,
			"breastVore" : true
		},
		"monster" : {
			"preyEnabled" : true,
			"digestImmunity" : false,
			"cumDigestImmunity" : false,
			"femcumDigestImmunity" : false,
			"milkDigestImmunity" : false,
			"allowSoftDigest" : false,
			"allowCumSoftDigest" : false,
			"allowFemcumSoftDigest" : false,
			"allowMilkSoftDigest" : false,
			"transformImmunity" : true,
			"cumTFImmunity" : true,
			"genderswapImmunity" : true,
			"eggImmunity" : false,
			"digestItemDrops" : true,

			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : true,

			"analVore" : true,
			"unbirth" : true,
			"cockVore" : true,
			"breastVore" : true
		}
	},
	"victimTransformPresets" : {
		"cumBlob" : {
			"forceSettings" : true,
			"state" : "smol",
			"species" : "sbqSlime",
			"settings" : {
				"firstLoadDone" : true,
				"replaceColorTable" : [["A1A1A1Bc", "DCDCDCBc", "EFEFEFBc", "FFFFFFBc"]]
			}
		},
		"egg" : {
			"forceSettings" : true,
			"state" : "smol",
			"species" : "sbqEgg",
			"randomColors" : true,
			"layer" : true,
			"layerLocation" : "egg",
			"inheritSettings" : [
				"escapeDifficulty"
			],
			"settings" : {
				"firstLoadDone" : true,
				"cracks" : 0,
				"eggEffect" : "sbqHeal"
			}
		},
		"plasticEgg" : {
			"forceSettings" : true,
			"state" : "smol",
			"species" : "sbqEgg",
			"randomColors" : true,
			"replaceColors" : "plasticReplaceColors",
			"layer" : true,
			"layerLocation" : "egg",
			"inheritSettings" : [
				"escapeDifficulty"
			],
			"settings" : {
				"firstLoadDone" : true,
				"cracks" : 0,
				"eggEffect" : "sbqHeal",
				"skinNames" : { "head" : "plastic" }
			}
		},
		"glassEgg" : {
			"forceSettings" : true,
			"state" : "smol",
			"species" : "sbqEgg",
			"randomColors" : true,
			"replaceColors" : "glassReplaceColors",
			"layer" : true,
			"layerLocation" : "egg",
			"inheritSettings" : [
				"escapeDifficulty"
			],
			"settings" : {
				"firstLoadDone" : true,
				"cracks" : 0,
				"eggEffect" : "sbqHeal"
			}
		}
	},
	"legsVoreWhitelist" : { // legs armor slot things that won't block AV UB or CV
		// nude
		"none" : true,
		"maskpants" : true,
		"hiderlegs" : true,
		"gf_invisiblelegs" : true,
		"inviskazpants" : true,
		"catusoutfit4legs" : true,
		"nopantsL" : true,
		"deerfolkoutfit3legs" : true,
		"myfirsttestoutfit1legs" : true,
		"mauskinnudelegs" : true,
		"bunnykinnudelegs" : true,
		"taurikinnudelegs" : true,
		"spirittreeoutfit3legs" : true,
		"lamiablanklegs" : true,
		"saturnnullpants" : true,
		"invisiblefabriclegs" : true,
		"sbq_nude_legs" : true,
		"braixennothinglegs" : true,
		"invislegs" : true,
		"nudeoutfitlegs" : true,
		"avalitier1pants" : true,
		"avalitier2pants" : true,
		"avalitier3pants" : true,
		"avalitier4pants" : true,
		"avalitier5apants" : true,
		"avalitier5mpants" : true,
		"avalitier5spants" : true,
		"avalitier6apants" : true,
		"avalitier6mpants" : true,
		"avalitier6spants" : true,
		"sb_emptylegs" : true,
		"customskillblanklegs" : true,
		"FutaraDragonoutfit1legs": true,
		"SomaDragonoutfit1legs" : true,

		// revealing
		"deerfolkoutfit1legs": true,
		"catusangelicwings": true,
		"catusangelicwingsbow": true,
		"taurikinoutfit3legs": true,
		"spiritguardiandustoutfitlegs": true,
		"spiritdustlegs": true,
		"kawaii_fishnets": true,
		"kawaii_shoes_fishnets": true,
		"hanawrap": true,
		"nekislonglegs": true,
		"catusoutfit1legs": true,
		"sergalsmithingbelt": true,
		"bunnykinoutfit1legs": true,
		"kawaii_shoes": true,
		"spirittreeoutfit4legs": true,
		"kawaii_stripeys": true,
		"kawaii_shoes_stripeys": true,
		"catusoutfit2legs": true,
		"avaliset1cpants" : true,
		"avaliset1bpants" : true,
		"avaliset1pants" : true

	},
	"chestVoreWhitelist" : { // legs armor slot things that won't block AV UB or CV
		// nude
		"none" : true,
		"maskchest" : true,
		"hiderchest" : true,
		"gf_invisiblechest" : true,
		"inviskazchest" : true,
		"catusoutfit4chest" : true,
		"nogearL" : true,
		"mauskinnudechest" : true,
		"bunnykinnudechest" : true,
		"taurikinnudechest" : true,
		"spirittreeoutfit3chest" : true,
		"lamiablankchest" : true,
		"saturnnullchest" : true,
		"invisiblefabricchest" : true,
		"sbq_nude_chest" : true,
		"braixennothingchest" : true,
		"invischest" : true,
		"nudeoutfitchest" : true,
		"avalitier1chest" : true,
		"avalitier2chest" : true,
		"avalitier3chest" : true,
		"avalitier4chest" : true,
		"avalitier5achest" : true,
		"avalitier5mchest" : true,
		"avalitier5schest" : true,
		"avalitier6achest" : true,
		"avalitier6mchest" : true,
		"avalitier6schest" : true,
		"sb_emptychest" : true,
		"customskillblankchest" : true,
		"FutaraDragonoutfit1chest": true,
		"SomaDragonoutfit1chest" : true,

		// revealing
		"commandersleevesL": true,
		"kawaii_netgloves": true,
		"kawaii_gloves": true,
		"spiritguardianleafbandage": true,
		"catusoutfit1chest": true,
		"catusoutfit3chest": true,
		"catusoutfit2chest": true,
		"kawaii_stripedgloves": true,
		"spirittreeoutfit1chest": true,
		"spirittreeoutfit4chest": true,
		"avaliset1cchest" : true,
		"avaliset1bchest" : true,
		"avaliset1chest" : true,
		"avaliraglansleeves_1" : true,
		"foundryguardchest" : true,
		"executionerschest" : true

	}

}
