{
	"scripts" : [
		"/vehicles/sbq/sbq_messages.lua"
	],
	"inedibleCreatures" : {
		"apeboss" : true,
		"apebossprojector" : true,
		"crystalboss" : true,
		//"cultistboss" : true, // She IS a human after all... very much nommable... not sure if eating her would break shit though
		"dragonboss" : true,
		"eyeboss" : true,
		"guardianboss" : true,
		"guardianminion" : true, // these are small, but they're also part of the boss so... probably shouldn't eat them
		"kluexboss" : true,
		"kluexbossstatue" : true,
		"ophanim" : true, // I'm not sure what these are but they're in the boss folder so
		//"penguinMiniUfo" : true, // small enough to edible I think
		"penguinUfo" : true,
		"robotboss" : true,
		"spiderboss" : true,
		"swansong" : true,
		// below are 'monsters' from other mods that should not be edible, report any and they'll be added to the list
		"supbar": true
	},
	"speciesStrugglesDisabled" : {
		"sbqEgg" : true
	},
	"bellyStatusEffects" : [
		"sbqRemoveBellyEffects",
		"sbqHeal",
		"sbqDigest",
		"sbqSoftDigest",
		"sbqHealDisplay",
		"sbqDigestDisplay",
		"sbqSoftDigestDisplay"
	],
	"bellyDisplayStatusEffects" : {
		"sbqHeal": "sbqHealDisplay",
		"sbqDigest": "sbqDigestDisplay",
		"sbqSoftDigest": "sbqSoftDigestDisplay"
	},
	"defaultSettings" : {
		"bellyEffect" : "sbqRemoveBellyEffects",
		"bellySounds" : true,
		"displayDigest" : false,
		"escapeModifier" : "normal",
		"fatten" : 0,
		"defaultSmall" : false,
		"autoDeploy" : false,
		"replaceColors" : [],
		"replaceColorTable" : [],
		"fullbright" : [],
		"directives" : "",
		"replaceSkin" : {},
		"skinNames" : {},
		"blackHoleBelly" : false
	},
	"sbqAllowedItems": {
		"driver": {
			//lock item
			"sbqLockedItem" : true,
			//essential item tools
			"beamaxe" : true,
			"wiretool" : true,
			"painttool" : true,
			"inspectiontool" : true,
			"inspectionmode" : true,
			"scanmode" : true,
			//items meant for this
			"sbqController" : true,
			//other items
			"fishaxe" : true,
			"superfishaxe" : true,
			"superfishaxedrop" : true,
			//modded essential items
			"beamaxeapex" : true,
			"beamaxeelunite" : true,
			"beamaxehylotl" : true,
			"fumastermanipulator" : true,
			"mmgravgun" : true,
			"mmgravgun2" : true,
			"mmgravgun3" : true,
			//not sure, but gonna mark it as usable
			"beamaxeX" : true,
			// other modded items
			"stctrickeries" : true

		},
		"prey": {
			"sbqLockedItem" : true,
			"sbqController" : true,
			"stctrickeries" : true
		}
	},
	"sbqBannedTags":{
		"driver":[
			"weapon",
			"vehiclecontroller",
			"toy",
			"shield"
		],
		"prey":[
			"weapon",
			"tool",
			"melee",
			"toy",
			"vehiclecontroller",
			"shield"
		]
	},
	"sbqBannedItemTypes":{
		"driver": {},
		"prey": {
			"object" : true,
			"liquid" : true,
			"material" : true
		}
	},
	"lockItemDescriptor":{
		"parameters":{
			"scriptStorage": {
				"itemDescriptors" : [],
				"timeUntilUnlock": 1,
				"lockedEssentialItems" : {}
			}
		},
		"count":1,
		"name":"sbqLockedItem"
	},
	"defaultPreyEnabled" : {
		"player" : {
			"enabled" : true,
			"held" : true,
			"oralVore" : true,
			"analVore" : false,
			"tailVore" : true,
			"unbirth" : false,
			"cockVore" : false,
			"breastVore" : false,
			"absorbVore" : true
		},
		"npc" : {
			"enabled" : true,
			"held" : true,
			"oralVore" : true,
			"analVore" : true,
			"tailVore" : true,
			"unbirth" : true,
			"cockVore" : true,
			"breastVore" : true,
			"absorbVore" : true
		},
		"monster" : {
			"enabled" : true,
			"held" : true,
			"oralVore" : true,
			"analVore" : true,
			"tailVore" : true,
			"unbirth" : false,
			"cockVore" : false,
			"breastVore" : false,
			"absorbVore" : true
		}
	}
}
