{
	"scripts" : [
		"/vehicles/sbq/sbq_messages.lua"
	],
	"inedibleCreatures" : {
		"apeboss" : true,
		"apebossprojector" : true,
		"crystalboss" : true,
		//"cultistboss" : true, // She IS a human after all... very much nommable... not sure if eating her would break shit though
		"dragonboss" : true,
		"eyeboss" : true,
		"guardianboss" : true,
		"guardianminion" : true, // these are small, but they're also part of the boss so... probably shouldn't eat them
		"kluexboss" : true,
		"kluexbossstatue" : true,
		"ophanim" : true, // I'm not sure what these are but they're in the boss folder so
		//"penguinMiniUfo" : true, // small enough to edible I think
		"penguinUfo" : true,
		"robotboss" : true,
		"spiderboss" : true,
		"swansong" : true,
		// below are 'monsters' from other mods that should not be edible, report any and they'll be added to the list
		"supbar": true
	},
	"speciesStrugglesDisabled" : {
		"sbqEgg" : true
	},
	"bellyStatusEffects" : [
		"sbqRemoveBellyEffects",
		"sbqHeal",
		"sbqDigest",
		"sbqSoftDigest",
		"sbqHealDisplay",
		"sbqDigestDisplay",
		"sbqSoftDigestDisplay"
	],
	"bellyDisplayStatusEffects" : {
		"sbqHeal": "sbqHealDisplay",
		"sbqDigest": "sbqDigestDisplay",
		"sbqSoftDigest": "sbqSoftDigestDisplay"
	},
	"predStatusEffects" : [
		"sbqInvisible",
		"sbqScaling",
		"sbqEggMask"
	],
	"defaultSettings" : {
		"bellyEffect" : "sbqRemoveBellyEffects",
		"bellySounds" : true,
		"displayDigest" : false,
		"escapeDifficulty": 0,
		"impossibleEscape": false,
		"visualMax" : {},
		"visualMin" : {},
		"hammerspaceDisabled" : {},
		"hammerspace" : false,

		"fatten" : 0,
		"replaceColors" : [],
		"replaceColorTable" : [],
		"fullbright" : [],
		"directives" : "",
		"replaceSkin" : {},
		"skinNames" : {},

		"oralVorePred" : false,
		"tailVorePred" : false,
		"absorbVorePred" : false,
		"navelVorePred" : false,

		"analVorePred" : false,
		"unbirthPred" : false,
		"cockVorePred" : false,
		"breastVorePred" : false
	},
	"tenantDefaultSettings" : {

		"BELock" : false,
		"BENoneEnable" : true,
		"BEHealEnable" : true,
		"BEDigestEnable" : true,
		"BESoftDigestEnable" : true,
		"allowHunting" : true,
		"huntFriendlyPlayers" : false,
		"huntHostilePlayers" : true,
		"huntFriendlyNPCs" : false,
		"huntHostileNPCs" : true,
		"huntFriendlyMonsters" : false,
		"huntHostileMonsters" : true,
		"allowBaiting" : true,
		"baitFriendlyPlayers" : true,
		"baitHostilePlayers" : false,
		"baitFriendlyNPCs" : true,
		"baitHostileNPCs" : false,
		"personality" : "default",
		"mood" : "default",

		"oralVorePredEnable" : false,
		"tailVorePredEnable" : false,
		"absorbVorePredEnable" : false,
		"navelVorePredEnable" : false,

		"analVorePredEnable" : false,
		"unbirthPredEnable" : false,
		"cockVorePredEnable" : false,
		"breastVorePredEnable" : false
	},
	"sbqAllowedItems": {
		"driver": {
			//lock item
			"sbqLockedItem" : true,
			//essential item tools
			"beamaxe" : true,
			"wiretool" : true,
			"painttool" : true,
			"inspectiontool" : true,
			"inspectionmode" : true,
			"scanmode" : true,
			//items meant for this
			"sbqController" : true,
			"sbqNominomicon" : true,
			//other items
			"fishaxe" : true,
			"superfishaxe" : true,
			"superfishaxedrop" : true,
			//modded essential items
			"beamaxeapex" : true,
			"beamaxeelunite" : true,
			"beamaxehylotl" : true,
			"fumastermanipulator" : true,
			"mmgravgun" : true,
			"mmgravgun2" : true,
			"mmgravgun3" : true,
			//not sure, but gonna mark it as usable
			"beamaxeX" : true,
			// other modded items
			"stctrickeries" : true

		},
		"prey": {
			"sbqLockedItem" : true,
			"sbqController" : true,
			"sbqNominomicon" : true,
			"stctrickeries" : true
		}
	},
	"sbqBannedTags":{
		"driver":[
			"weapon",
			"vehiclecontroller",
			"toy",
			"shield"
		],
		"prey":[
			"weapon",
			"tool",
			"melee",
			"toy",
			"vehiclecontroller",
			"shield",
			"sbqTransformation"
		]
	},
	"sbqBannedItemTypes":{
		"driver": {},
		"prey": {
			"object" : true,
			"liquid" : true,
			"material" : true
		}
	},
	"lockItemDescriptor":{
		"parameters":{
			"scriptStorage": {
				"itemDescriptors" : [],
				"timeUntilUnlock": 1,
				"lockedEssentialItems" : {}
			}
		},
		"count":1,
		"name":"sbqLockedItem"
	},
	"npcPersonalities" : [
		"default",
		"flirty",
		"shy"
	],
	"npcMoods" : [
		"default",
		"hungry",
		"horny",
		"fearful",
		"friendly"
	],
	"defaultPreyEnabled" : {
		"player" : {
			"preyEnabled" : true,
			"digestImmunity" : false,
			"transformImmunity" : false,
			"eggImmunity" : false,
			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : false,

			"analVore" : false,
			"unbirth" : false,
			"cockVore" : false,
			"breastVore" : false
		},
		"npc" : {
			"preyEnabled" : true,
			"digestImmunity" : false,
			"transformImmunity" : false,
			"eggImmunity" : false,
			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : true,

			"analVore" : true,
			"unbirth" : true,
			"cockVore" : true,
			"breastVore" : true
		},
		"monster" : {
			"preyEnabled" : true,
			"digestImmunity" : false,
			"transformImmunity" : true,
			"eggImmunity" : false,
			"held" : true,

			"oralVore" : true,
			"tailVore" : true,
			"absorbVore" : true,
			"navelVore" : true,

			"analVore" : true,
			"unbirth" : true,
			"cockVore" : true,
			"breastVore" : true
		}
	},
	"victimTransformPresets" : {
		"cumBlob" : {
			"barColor" : ["A1A1A1", "DCDCDC", "EFEFEF", "FFFFFF"],
			"forceSettings" : true,
			"state" : "smol",
			"species" : "sbqSlime",
			"settings" : {
				"firstLoadDone" : true,
				"bellyEffect" : "sbqRemoveBellyEffects",
				"replaceColors" : [9],
				"skinNames" : {},
				"replaceColorTable" : [["A1A1A1Bc", "DCDCDCBc", "EFEFEFBc", "FFFFFFBc"]]
			}
		}
	},
	"legsVoreWhitelist" : { // legs armor slot things that won't block AV UB or CV
		// nude
		"none" : true,
		"maskpants" : true,
		"hiderlegs" : true,
		"gf_invisiblelegs" : true,
		"inviskazpants" : true,
		"catusoutfit4legs" : true,
		"nopantsL" : true,
		"deerfolkoutfit3legs" : true,
		"myfirsttestoutfit1legs" : true,
		"mauskinnudelegs" : true,
		"bunnykinnudelegs" : true,
		"taurikinnudelegs" : true,
		"spirittreeoutfit3legs" : true,
		"lamiablanklegs" : true,
		"saturnnullpants" : true,
		"invisiblefabriclegs" : true,
		"sbq_nude_legs" : true,
		"braixennothinglegs" : true,
		"invislegs" : true,

		// revealing
		"aviancommonerlegs" : true,
		"deerfolkoutfit1legs": true,
		"catusangelicwings": true,
		"catusangelicwingsbow": true,
		"taurikinoutfit3legs": true,
		"spiritguardiandustoutfitlegs": true,
		"spiritdustlegs": true,
		"kawaii_fishnets": true,
		"kawaii_shoes_fishnets": true,
		"hanawrap": true,
		"nekislonglegs": true,
		"catusoutfit1legs": true,
		"sergalsmithingbelt": true,
		"bunnykinoutfit1legs": true,
		"kawaii_shoes": true,
		"spirittreeoutfit4legs": true,
		"kawaii_stripeys": true,
		"kawaii_shoes_stripeys": true,
		"catusoutfit2legs": true,
		"avaliset1cpants" : true,
		"avaliset1bpants" : true,
		"avaliset1pants" : true

	},
	"chestVoreWhitelist" : { // legs armor slot things that won't block AV UB or CV
		// nude
		"none" : true,
		"maskchest" : true,
		"hiderchest" : true,
		"gf_invisiblechest" : true,
		"inviskazchest" : true,
		"catusoutfit4chest" : true,
		"nogearL" : true,
		"mauskinnudechest" : true,
		"bunnykinnudechest" : true,
		"taurikinnudechest" : true,
		"spirittreeoutfit3chest" : true,
		"lamiablankchest" : true,
		"saturnnullchest" : true,
		"invisiblefabricchest" : true,
		"sbq_nude_chest" : true,
		"braixennothingchest" : true,
		"invischest" : true,

		// revealing
		"commandersleevesL": true,
		"kawaii_netgloves": true,
		"kawaii_gloves": true,
		"spiritguardianleafbandage": true,
		"catusoutfit1chest": true,
		"catusoutfit3chest": true,
		"catusoutfit2chest": true,
		"kawaii_stripedgloves": true,
		"spirittreeoutfit1chest": true,
		"spirittreeoutfit4chest": true,
		"avaliset1cchest" : true,
		"avaliset1bchest" : true,
		"avaliset1chest" : true,
		"avaliraglansleeves_1" : true,
		"foundryguardchest" : true,
		"executionerschest" : true

	}

}
