{
	"cockVore":{
		"endInside" : true,
		"frames": [0,1,2,5],
		"visible": [1,0,0,0],
		"ys": [ 1, 0.3 ],
		"xs": [ 1, 0.3 ],
		"x": [ 1, null, 0.8, 0.5],
		"y": [ -3, null, -3.2, -3.5 ],
		"r": [ 0, 120 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"cockEscape":{
		"frames": [0,3,4,5],
		"visible": [0,0,1,1],
		"ys": [ 0.3, null, null, 1 ],
		"xs": [ 0.3, null, null, 1 ],
		"x": [ 0.5, null, 0.8, 1],
		"y": [ -3, null, -3.2, -3.5 ],
		"r": [ -60, null, null, 0 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	}
}
