[
	{ "npc" : "apex", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "human", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "avian", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "fenerox", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "floran", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "glitch", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "hylotl", "npcTypeName" : "sbqVoreVillager" },
	{ "npc" : "novakid", "npcTypeName" : "sbqVoreVillager" },

	{ "npc" : "argonian", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/argonian/malebody.png" } },
	{ "npc" : "avali", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/avali/malebody.png" } },
	{ "npc" : "braixen", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/braixen/malebody.png" } },
	{ "npc" : "crylan", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/crylan/malebody.png" } },
	{ "npc" : "delphox", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/delphox/malebody.png" } },
	{ "npc" : "dragon", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/dragon/malebody.png" } },
	{ "npc" : "eevee", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/eevee/malebody.png" } },
	{ "npc" : "elysian", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/elysian/malebody.png" } },
	{ "npc" : "familiar", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/familiar/malebody.png" } },
	{ "npc" : "felin", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/felin/malebody.png" } },
	{ "npc" : "fennix", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/fennix/malebody.png" } },
	{ "npc" : "gnolls", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/gnolls/malebody.png" } },
	{ "npc" : "lucario", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/lucario/malebody.png" } },
	{ "npc" : "lycanroc", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/lycanroc/malebody.png" } },
	{ "npc" : "lyceen", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/lyceen/malebody.png" } },
	{ "npc" : "myfirsttest", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/myfirsttest/malebody.png" } },
	{ "npc" : "novali", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/novali/malebody.png" } },
	{ "npc" : "rodent", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/rodent/malebody.png" } },
	{ "npc" : "sergal", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/sergal/malebody.png" } },
	{ "npc" : "Umbreon", "npcTypeName" : "sbqVoreVillager", "checkRequirements" : { "checkImage" : "/humanoid/Umbreon/malebody.png" } }

]
