{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background", // 120 width
			"fileHeader" : "/interface/scripted/pvso/vsoSpawnerSettings/header.png", // 24
			"fileBody" : "/interface/scripted/pvso/vsoSpawnerSettings/body.png", // 112
			"fileFooter" : "/interface/scripted/pvso/vsoSpawnerSettings/footer.png" // 40
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 90, 158 ]
		},

		"icon" : {
			"type" : "image",
			"file" : "/items/active/pvsoController/oralVore.png",
			"position" : [ 8, 156 ]
		},

		"title" : {
			"type" : "title",
			"title" : "VSO Selector",
			"subtitle" : ""
		},

		"textbox": {
			"type" : "textbox",
			"value" : "",
			"position" : [ 10, 43 ],
			"zlevel" : 2,
			"maxWidth" : 10,
			"textAlign" : "center",
			"enterKey" : "textbox",
			"regex" : "[1-9]{0,1}"
		},
		"textboxBG" : {
			"type" : "image",
			"file" : "/interface/scripted/pvso/vsoSpawnerSettings/textentry.png",
			"position" : [ 10, 40 ]
		},

		"toggle": {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/buttongrayed.png",
			"caption" : "Toggle",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 37, 40 ],
			"zlevel" : 2,
			"data": 0
		},

		"vsoScrollArea": {
			"type" : "scrollArea",
			"rect" : [2, 55, 104, 151],
			"children" : {
				"vsoList" : {
					"type" : "list",
					"position" : [0, 0],
					"schema" : {
						"selectedBG" : "/interface/scripted/pvso/portraitselected.png",
						"hoverBG" : "/interface/scripted/pvso/portraithover.png",
						"unselectedBG" : "/interface/scripted/pvso/portrait.png",
						"spacing" : [0, -1],
						"memberSize" : [92, 28],
						"listTemplate" : {
							"background": {
								"type" : "image",
								"file" : "/interface/scripted/pvso/portrait.png",
								"position" : [ 0, 0 ],
								"zlevel" : 1
							},
							"icon": {
								"type" : "image",
								"file" : "/assetmissing.png",
								"position" : [ 6, 6 ],
								"zlevel" : 2
							},
							"name": {
								"type" : "label",
								"value" : "placeholder",
								"position" : [ 27, 17 ],
								"zlevel" : 2
							},
							"indexLabel": {
								"type" : "label",
								"value" : "",
								"position" : [ 27, 5 ],
								"zlevel" : 2
							},
							"enableLabel": {
								"type" : "label",
								"value" : "false",
								"position" : [ 37, 5 ],
								"zlevel" : 2
							}
						}
					}
				}
			}
		}
	},

	"scriptWidgetCallbacks" : [
		"textbox",
		"toggle"
	],

	"scripts" : [ "/interface/scripted/pvso/vsoSpawnerSettings/vsoSpawnerSettings.lua" ],
	"scriptDelta" : 5
}
