{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background", // 240 width
			"fileHeader" : "/interface/scripted/pvso/header.png", // 24
			"fileBody" : "/interface/scripted/pvso/body.png", // 112
			"fileFooter" : "/interface/scripted/pvso/footer.png" // 40
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 224, 158 ]
		},

		"icon" : {
			"type" : "image",
			"file" : "/items/active/pvsoController/oralVore.png",
			"position" : [ 8, 156 ]
		},

		"title" : {
			"type" : "title",
			"title" : "VSO Spawner Settings",
			"subtitle" : "Choose your predators."
		},


		"occupantScrollArea": {
			"type" : "scrollArea",
			"rect" : [140, 55, 240, 151],
			"children" : {
				"occupantList" : {
					"type" : "list",
					"position" : [0, 0],
					"schema" : {
						"selectedBG" : "/interface/scripted/pvso/portraitselected.png",
						"hoverBG" : "/interface/scripted/pvso/portraithover.png",
						"unselectedBG" : "/interface/scripted/pvso/portrait.png",
						"spacing" : [0, -1],
						"memberSize" : [92, 28],
						"listTemplate" : {
							"background": {
								"type" : "image",
								"file" : "/interface/scripted/pvso/portrait.png",
								"position" : [ 0, 0 ],
								"zlevel" : 1
							},
							"portrait": {
								"type" : "canvas",
								"rect" : [ 0, 6, 22, 28 ],
								"zlevel" : 2
							},
							"portraitIcon": {
								"type" : "image",
								"file" : "/assetmissing.png",
								"position" : [ 6, 6 ],
								"zlevel" : 2
							},
							"healthbar": {
								"type" : "progress",
								"background" : "/interface/scripted/pvso/barempty2.png",
								"progressSet" : {
								"inner" : "/interface/scripted/pvso/healthbar.png",
								"type" : "repeat"
								},
								"size" : [ 61, 5 ],
								"direction" : "horizontal",
								"position" : [ 27, 10 ],
								"zlevel" : 2
							},
							"secondarybar": {
								"type" : "canvas",
								"rect" : [ 27, 4, 88, 9 ],
								"zlevel" : 2
							},
							"name": {
								"type" : "label",
								"value" : "placeholder",
								"position" : [ 27, 17 ],
								"zlevel" : 2
							}
						}
					}
				}
			}
		}
	},

	"scriptWidgetCallbacks" : [
		"setBellyEffect",
		"despawn",
		"autoDeploy",
		"displayDamage",
		"defaultSmall",
		"letOut",
		"setEscapeModifier",
		"transform",
		"customize"
	],

	"scripts" : [ "/interface/scripted/pvso/vsoSpawnerSettings/vsoSpawnerSettings.lua" ],
	"scriptDelta" : 5
}
