{
	"sbqData" : {
		"victimAnimations": "/humanoid/sbqZevi_Zygahedron/victim_animations.config",
		"scripts" : ["/humanoid/sbq_vore_scripts.lua", "/humanoid/sbqZevi_Zygahedron/sbq_vore_scripts.lua"],
		"listLocations" : [
			"belly",
			"womb",
			"shaft",
			"balls"
		],
		"voreTypes" : {
			"oralVore" : "belly",
			"cockVore" : "shaft",
			"analVore" : "belly",
			"unbirth" : "womb"
		},
		"locations" :{
			"belly" : { "name" : "Belly", "combine":["womb"], "max": 1, "selectEffect" : true, "hammerspace" : true },

			"womb" : { "name" : "Womb", "selectEffect" : true, "combined" : true, "max": 1, "hammerspace" : true,
				"eggify" : { "preset" : "egg" }
			},

			"shaft" : { "name" : "Shaft", "selectEffect" : true, "max": 1, "maxNested" : -1 },
			"balls" : { "name" : "Balls", "selectEffect" : true, "sided" : true, "max": 1, "hammerspace" : true },
			"ballsL" : { "name" : "Left Ball", "max": 1, "hammerspace" : true },
			"ballsR" : { "name" : "Right Ball", "max": 1, "hammerspace" : true }
		},
		"allowedModifiers" : {
			"bellyVisualMin": {"min": 0, "max": 1},
			"escapeDifficulty": {"min": -100, "max": 100},
			"bellyEffectSlot": {"none":true, "heal":true, "digest":true, "softDigest":true },
			"bellyMultiplier": {"min": 0, "max": 100},
			"displayDigest": "bool"
		}
	},
	"states": {
		"stand": {
			"edible" : true,
			"transitions": {
				// directional = occupant0 can press that direction to transition
				"oralVore" : {
					"lock" : true,
					"script" : "oralVore",
					"voreType" : "oralVore",
					"victimAnimation" : "oralVore",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"oralEscape" : {
					"lock" : true,
					"script" : "oralEscape",
					"voreType" : "oralVore",
					"victimAnimation" : "oralEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"analVore" : {
					"lock" : true,
					"settings" : { "underwear" : false, "pants" : false },
					"script" : "analVore",
					"voreType" : "analVore",
					"victimAnimation" : "analVore",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"analEscape" : {
					"lock" : true,
					"settings" : { "underwear" : false, "pants" : false },
					"script" : "analEscape",
					"voreType" : "analVore",
					"victimAnimation" : "analEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"unbirth" : {
					"lock" : true,
					"settings" : { "pussy" : true, "underwear" : false, "pants" : false },
					"script" : "unbirth",
					"voreType" : "unbirth",
					"victimAnimation" : "unbirth",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"unbirthEscape" : {
					"lock" : true,
					"settings" : { "pussy" : true, "underwear" : false, "pants" : false },
					"script" : "unbirthEscape",
					"voreType" : "unbirth",
					"victimAnimation" : "unbirthEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"cockVore" : {
					"lock" : true,
					"settings" : { "penis" : true, "underwear" : false, "pants" : false },
					"script" : "cockVore",
					"voreType" : "cockVore",
					"victimAnimation" : "cockVore",
					"timing" : "cock",
					"animation" : {
						"cock" : "dummyEat"
					}
				},
				"cockEscape" : {
					"lock" : true,
					"settings" : { "penis" : true, "underwear" : false, "pants" : false },
					"script" : "cockEscape",
					"voreType" : "cockVore",
					"victimAnimation" : "cockEscape",
					"timing" : "cock",
					"animation" : {
						"cock" : "dummyEat"
					}
				},
				"ballsToShaft": { // 1 occupant
					"settings" : { "penis" : true },
					"script": "ballsToShaft"
				},
				"shaftToBalls": { // 1 occupant
					"settings" : { "balls" : true },
					"script": "shaftToBalls"
				},
				"switchBalls": { // 1 occupant
					"settings" : { "balls" : true },
					"script": "switchBalls"
				}
			},
			"shrinkAnims":{
				"belly": { "belly": "shrink" },

				"shaft": { "cock": "shrink" },

				"ballsFront" : { "ballsFront": "shrink" },
				"ballsBack" : { "ballsBack": "shrink" },
				"balls" : { "ballsFront": "shrink", "ballsBack": "shrink" }
			},
			"expandAnims":{
				"belly": { "belly": "expand" },

				"shaft": { "cock": "expand" },

				"bulge": { "bulge": "expand" },

				"ballsFront" : { "ballsFront": "expand" },
				"ballsBack" : { "ballsBack": "expand" },
				"balls" : { "ballsFront": "expand", "ballsBack": "expand" }
			},
			"locationCenters" : {
				"belly" : [0, -2],
				"womb" : [0, -2],

				"shaft" : [-1, -2],

				"ballsL" : [-1.25, -2],
				"ballsR" : [-1.25, -2]
			},
			"struggle": {
				"belly" : {
					"parts" : ["belly"],
					"directions" : {
						"front": { "transition": "oralEscape", "indicate" : "red", "drivingEnabled" : true },
						"back": { "transition": "analEscape", "indicate" : "red", "drivingEnabled" : true, "settings" : { "underwear" : false, "pants" : false } },
						"up": {},
						"down": {}
					},
					"chances": { "min": 5, "max": 7 }
				},
				"womb" : {
					"parts" : ["belly"],
					"directions" : {
						"up": { },
						"back": { "transition": "unbirthEscape", "indicate" : "red", "drivingEnabled" : true, "settings" : { "pussy" : true, "underwear" : false, "pants" : false } },
						"front": {},
						"down": {}
					},
					"chances": { "min": 5, "max": 7 }
				},
				"shaft" : {
					"parts" : ["cock"],
					"additionalParts" : ["bulge"],
					"directions":{
						"down": { "transition": "cockEscape", "indicate": "red", "drivingEnabled": true, "settings" : { "underwear" : false, "pants" : false } },
						"front": {},
						"back": {},
						"up": { "transition": "shaftToBalls", "indicate": "cyan", "drivingEnabled": true, "settings" : { "balls" : true } }
					},
					"chances": { "min": 5, "max": 10 }
				},
				"ballsL" : {
					"sided" :{
						"rightParts" : ["ballsBack"],
						"leftParts" : ["ballsFront"]
					},
					"additionalParts" : ["bulge"],
					"directions":{
						"up": { "transition": "ballsToShaft", "indicate": "green", "drivingEnabled": true, "settings" : { "penis" : true } },
						"front": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"back": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"down": {}
					},
					"chances": { "min": 5, "max": 10 }
				},
				"ballsR" : {
					"sided" :{
						"rightParts" : ["ballsFront"],
						"leftParts" : ["ballsBack"]
					},
					"additionalParts" : ["bulge"],
					"directions":{
						"up": { "transition": "ballsToShaft", "indicate": "green", "drivingEnabled": true, "settings" : { "penis" : true } },
						"front": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"back": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"down": {}
					},
					"chances": { "min": 5, "max": 10 }
				}
			}
		}
	}
}
