{
	"canBookmark" : true,
	"bookmarkName" : "Auri's Shop",
	"includePartyMembers" : true,
	"includePlayerBookmarks" : true,
	"destinations" : [
	  {
		"name" : "Beam to Ship",
		"planetName" : "",
		"warpAction" : "OwnShip",
		"icon" : "beamup"
	  },
	  {
		"name" : "The Outpost",
		"planetName" : "2 Stop Teleshop",
		"warpAction" : "instanceWorld:outpost=outpost",
		"icon" : "outpost"
	  }
	]
  }
