
{
	"invis":{
		"seconds":[ 0.0 ]
		,"loop":true
		,"visible": [0]
		,"transformGroup":"occupantPosition"
		,"x": [ 0.0 ]
		,"y": [ 0.0 ]
		,"r": [ 0.0 ]
	}
	,"playereat":{
		"loop":false
		,"interpMode":1
		,"transformGroup":"occupantPosition"
		,"frames":[ 0,1,2,3,4,5,6,7]
		,"visible": [ 1,1,1,1,1,1,1,0 ]
		,"xs": [ -1 ]
		,"x": [
			6
			,5
			,4
			,3.25
			,3
			,2.75
			,2.5
			,2.25
		]
		,"y": [
			0
			,1
			,2
			,3
			,3
			,2
			,1
			,0
		]
		,"r": [
			0
			,15
			,35
			,45
			,90
			,135
			,145
			,145
			,145
		]
		,"sitpos": [ "stand" ]
		,"emote": [ "oooh" ]
		,"dance": [ "victimrun" ]
	}
	,"escape":{
		"loop":false
		,"interpMode":1
		,"transformGroup":"occupantPosition"
		,"frames":[ 0,1,2,3,4]
		,"visible": [ 0,1,1,1,1 ]
		,"xs": [ -1 ]
		,"x": [
			2.25
			,2.5
			,2.75
			,3
			,3.25

		]
		,"y": [
			0
			,1
			,2
			,3
			,3

		]
		,"r": [
			145
			,145
			,145
			,135
			,90
		]
		,"sitpos": [ "stand" ]
		,"emote": [ "oooh" ]
		,"dance": [ "victimrun" ]
	}
	,"center":{
		"seconds":[ 0.0 ]
		,"loop":true
		,"visible": [0]
		,"transformGroup":"occupantPosition"
		,"xs": [ -1 ]
		,"x": [ 0.0 ]
		,"y": [ -1.0 ]
		,"r": [ 0.0 ]
		,"sitpos": [ "sit" ]
		,"emote": [ ]
		,"dance": [ ]
	}
}