
{
	"invis":{
		"seconds":[ 0.0 ]
		,"loop":true
		,"visible": [0]
		,"transformGroup":"occupantPosition"
		,"x": [ 0.0 ]
		,"y": [ 0.0 ]
		,"r": [ 0.0 ]
	}
	,"playereat":{
		"loop":false
		,"interpMode":1
		,"transformGroup":"occupantPosition"
		,"frames":[ 0,1,2,3,4,5,6,7]
		,"visible": [ 1,1,1,1,1,1,1,0 ]
		,"xs": [ -1 ]
		,"x": [
			3
			,3
			,3
			,3.75
			,3.75
			,3.5
			,2.25
			,1.25
		]
		,"y": [
			-1.875
			,-1.875
			,-1.875
			,-1.875
			,-1.24
			,0.75
			,-0.375
			,-1.25
		]
		,"r": [
			0
			,0
			,0
			,10
			,60
			,135
			,130
			,135
			,125
		]
		,"sitpos": [ "stand" ]
		,"emote": [ "oooh" ]
		,"dance": [ "victimrun" ]
	}
	,"escape":{
		"loop":false
		,"interpMode":1
		,"transformGroup":"occupantPosition"
		,"frames":[ 0,1,2,3,4,5,6]
		,"visible": [ 0,1,1,1,1,1,1 ]
		,"xs": [ -1 ]
		,"x": [
			1.25
			,1.25
			,1.25
			,2.75
			,3.5
			,3.5
			,3.5
		]
		,"y": [
			-1.25
			,-1.25
			,-1.0
			,-0.75
			,-0.75
			,-1.5
			,-1.875
		]
		,"r": [
			125
			,135
			,130
			,135
			,100
			,40
			,0
		]
		,"sitpos": [ "stand" ]
		,"emote": [ "oooh" ]
		,"dance": [ "victimrun" ]
	}
	,"center":{
		"seconds":[ 0.0 ]
		,"loop":true
		,"visible": [0]
		,"transformGroup":"occupantPosition"
		,"xs": [ -1 ]
		,"x": [ 0.0 ]
		,"y": [ -1.0 ]
		,"r": [ 0.0 ]
		,"sitpos": [ "sit" ]
		,"emote": [ ]
		,"dance": [ ]
	}
}