{
	"globalTagDefaults" : {
		"bellyMask" : "/humanoid/any/sbqVoreParts/belly.png",
		"cockMask" : "/humanoid/any/sbqVoreParts/cock.png",
		"pussyMask" : "/humanoid/any/sbqVoreParts/pussy.png",
		"ballsFrontMask" : "/humanoid/any/sbqVoreParts/ballsFront.png",
		"ballsBackMask" : "/humanoid/any/sbqVoreParts/ballsBack.png",
		"breastsFrontMask" : "/humanoid/any/sbqVoreParts/breastsFront.png",
		"breastsBackMask" : "/humanoid/any/sbqVoreParts/breastsBack.png"
	},
	"remapParts" : {
		"belly" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","Loki"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsCover2" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		}
	}
}
