{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],
		"listLocations" : [
			"belly",
			"womb",
			"breasts"
		],
		"voreTypes" : {
			"oralVore" : "belly",
			"unbirth" : "womb",
			"analVore" : "belly",
			"breastVore" : "breasts"
		},
		"defaultSettings" : {
			"symmetricalBreasts" : true,

			"underwear" : false,
			"bra" : false,

			"breasts" : false,
			"pussy" : false,

			"TGOnly" : false
		},
		"sbqOverrideSettings" : {
			"balls" : false,
			"penis" : false,
			"tailVorePred" : false,
			"absorbVorePred" : false,
			"navelVorePred" : false,
			"cockVorePred" : false,

			"digestEnable" : false,
			"bellyDigestEnable" : false,
			"wombDigestEnable" : false
		},
		"overridePreyEnabled" : {
			"tailVore" : false,
			"navelVore" : false,
			"absorbVore" : false,
			"cockVore" : false,

			"digestImmunity" : true,
			"cumDigestImmunity" : true,
			"milkDigestImmunity" : true,
			"genderswapImmunity" : true
		},
		"locations" : {
			"womb" : {
				"TF" : { "data": {"species" : "hellhound", "playerSpeciesTF":true}}
			}
		}
	}
}
