{
	"gui" : {
	"background" : {
		"zlevel" : 0,
		"type" : "background",
		"fileHeader" : "/interface/scripted/header.png",
		"fileBody" : "/interface/scripted/xeronioussettings/body.png",
		"fileFooter" : "/interface/scripted/footer.png"
	},

	"close" : {
		"type" : "button",
		"base" : "/interface/x.png",
		"hover" : "/interface/xhover.png",
		"pressed" : "/interface/xpress.png",
		"pressedOffset" : [ 0, 0 ],
		"position" : [ 160, 218 ]
	},

	"title" : {
		"type" : "title",
		"title" : "Xeronious Settings",
		"subtitle" : "Fluffy Kaiju",
		"icon" : {
			"type" : "image",
			"file" : "/vehicles/spov/xeronious/xeroniousicon.png",
			"minSize" : [ 24, 24 ]
		},
		"position" : [ 6, 218 ]
	},

	"despawn" : {
		"type" : "button",
		"base" : "/interface/buttonred.png",
		"hover" : "/interface/buttonredhover.png",
		"pressed" : "/interface/buttonactive.png",
		"disabledImage" : "/interface/button.png",
		"caption" : "Despawn",
		"fontColorDisabled" : "gray",
		"textAlign" : "center",
		"position" : [ 112, 16 ]
	},

	"autoDeploy" : {
		"type" : "button",
		"base" : "/interface/optionsmenu/checkboxnocheck.png",
		"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		"checkable" : true,
		"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		"position" : [ 10, 18 ]
	},
	"autoDeployLabel": {
		"type" : "label",
		"value" : "Auto Deploy",
		"position" : [ 25, 18 ]
	},

	// "defaultSmall" : {
	//	 "type" : "button",
	//	 "base" : "/interface/optionsmenu/checkboxnocheck.png",
	//	 "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
	//	 "checkable" : true,
	//	 "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
	//	 "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
	//	 "position" : [ 50, 18 ]
	// },
	// "defaultSmallLabel": {
	//	 "type" : "label",
	//	 "value" : "Default to Small",
	//	 "position" : [ 65, 18 ]
	// },

	"bellyEffect" : {
		"type" : "radioGroup",
		"callback" : "setBellyEffect",
		"position" : [ 10, 150 ],
		"buttons" : [
		{
			"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
			"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position": [ 0, 30 ]
		},
		{
			"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
			"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position": [ 0, 20 ]
		},
		{
			"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
			"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position": [ 0, 10 ]
		},
		{
			"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
			"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position": [ 0, 0 ]
		}
		]
	},
	"bellyEffectLabel": {
		"type" : "label",
		"value" : "Belly Effect",
		"position" : [ 12, 195 ]
	},
	"bellyEffectLabelNone": {
		"type" : "label",
		"value" : "None",
		"position" : [ 25, 180 ]
	},
	"bellyEffectLabelHeal": {
		"type" : "label",
		"value" : "Heal",
		"position" : [ 25, 170 ]
	},
	"bellyEffectLabelDigest": {
		"type" : "label",
		"value" : "Digest",
		"position" : [ 25, 160 ]
	},
	"bellyEffectLabelSoftDigest": {
		"type" : "label",
		"value" : "Soft Digest",
		"position" : [ 25, 150 ]
	},

	"displayDamage" : {
		"type" : "button",
		"base" : "/interface/optionsmenu/checkboxnocheck.png",
		"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		"checkable" : true,
		"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		"position" : [ 10, 135 ]
	},
	"displayDamageLabel": {
		"type" : "label",
		"value" : "DoT Effects",
		"position" : [ 25, 135 ]
	},

	"autoCrouch" : {
		"type" : "button",
		"base" : "/interface/optionsmenu/checkboxnocheck.png",
		"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		"checkable" : true,
		"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		"position" : [ 10, 125 ]
	},
	"autoCrouchLabel": {
		"type" : "label",
		"value" : "Auto Crouch",
		"position" : [ 25, 125 ]
	},

	"autoEggLay" : {
		"type" : "button",
		"base" : "/interface/optionsmenu/checkboxnocheck.png",
		"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		"checkable" : true,
		"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		"position" : [ 10, 115 ]
	},
	"autoEggLayLabel": {
		"type" : "label",
		"value" : "Auto Egg lay",
		"position" : [ 25, 115 ]
	},



	"occupant1": {
		"type" : "layout",
		"layoutType" : "basic",
		"rect" : [85, 169, 170, 204],
		"children" : {
		"portraitback": {
			"type" : "image",
			"file" : "/interface/scripted/xeronioussettings/portrait.png",
			"position" : [ 0, 0 ],
			"zlevel" : 1
		},
		"portrait": {
			"type" : "canvas",
			"rect" : [ 0, 13, 22, 35 ],
			"zlevel" : 2
		},
		"healthbar": {
			"type" : "progress",
			"background" : "/interface/scripted/xeronioussettings/emptybar.png",
			"progressSet" : {
			"inner" : "/interface/scripted/xeronioussettings/healthbar.png",
			"type" : "repeat"
			},
			"size" : [ 61, 4 ],
			"direction" : "horizontal",
			"position" : [ 11, 4 ],
			"zlevel" : 2
		},
		"name": {
			"type" : "label",
			"value" : "",
			"position" : [ 27, 24 ],
			"zlevel" : 2
		},
		"letOut": {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/button.png",
			"caption" : "Let Out",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 26, 10 ],
			"zlevel" : 2,
			"data": 1
		}
		}
	},
	"occupant2": {
		"type" : "layout",
		"layoutType" : "basic",
		"rect" : [85, 130, 170, 165],
		"children" : {
		"portraitback": {
			"type" : "image",
			"file" : "/interface/scripted/xeronioussettings/portrait.png",
			"position" : [ 0, 0 ],
			"zlevel" : 1
		},
		"portrait": {
			"type" : "canvas",
			"rect" : [ 0, 13, 22, 35 ],
			"zlevel" : 2
		},
		"healthbar": {
			"type" : "progress",
			"background" : "/interface/scripted/xeronioussettings/emptybar.png",
			"progressSet" : {
			"inner" : "/interface/scripted/xeronioussettings/healthbar.png",
			"type" : "repeat"
			},
			"size" : [ 61, 4 ],
			"direction" : "horizontal",
			"position" : [ 11, 4 ],
			"zlevel" : 2
		},
		"name": {
			"type" : "label",
			"value" : "",
			"position" : [ 27, 24 ],
			"zlevel" : 2
		},
		"letOut": {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/button.png",
			"caption" : "Let Out",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 26, 10 ],
			"zlevel" : 2,
			"data": 2
		}
		}
	},
	"occupant3": {
		"type" : "layout",
		"layoutType" : "basic",
		"rect" : [85, 91, 170, 126],
		"children" : {
		"portraitback": {
			"type" : "image",
			"file" : "/interface/scripted/xeronioussettings/portrait.png",
			"position" : [ 0, 0 ],
			"zlevel" : 1
		},
		"portrait": {
			"type" : "canvas",
			"rect" : [ 0, 13, 22, 35 ],
			"zlevel" : 2
		},
		"healthbar": {
			"type" : "progress",
			"background" : "/interface/scripted/xeronioussettings/emptybar.png",
			"progressSet" : {
			"inner" : "/interface/scripted/xeronioussettings/healthbar.png",
			"type" : "repeat"
			},
			"size" : [ 61, 4 ],
			"direction" : "horizontal",
			"position" : [ 11, 4 ],
			"zlevel" : 2
		},
		"name": {
			"type" : "label",
			"value" : "",
			"position" : [ 27, 24 ],
			"zlevel" : 2
		},
		"letOut": {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/button.png",
			"caption" : "Let Out",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 26, 10 ],
			"zlevel" : 2,
			"data": 2
		}
		}
	},
	"occupant4": {
		"type" : "layout",
		"layoutType" : "basic",
		"rect" : [85, 52, 170, 87],
		"children" : {
		"portraitback": {
			"type" : "image",
			"file" : "/interface/scripted/xeronioussettings/portrait.png",
			"position" : [ 0, 0 ],
			"zlevel" : 1
		},
		"portrait": {
			"type" : "canvas",
			"rect" : [ 0, 13, 22, 35 ],
			"zlevel" : 2
		},
		"healthbar": {
			"type" : "progress",
			"background" : "/interface/scripted/xeronioussettings/emptybar.png",
			"progressSet" : {
			"inner" : "/interface/scripted/xeronioussettings/healthbar.png",
			"type" : "repeat"
			},
			"size" : [ 61, 4 ],
			"direction" : "horizontal",
			"position" : [ 11, 4 ],
			"zlevel" : 2
		},
		"name": {
			"type" : "label",
			"value" : "",
			"position" : [ 27, 24 ],
			"zlevel" : 2
		},
		"letOut": {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/button.png",
			"caption" : "Let Out",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 26, 10 ],
			"zlevel" : 2,
			"data": 2
		}
		}
	}

	},

	"scriptWidgetCallbacks" : [
	"setBellyEffect",
	"despawn",
	"autoDeploy",
	"displayDamage",
	"autoCrouch",
	"autoEggLay",
	"defaultSmall",
	"letOut"
	],

	"scripts" : [ "/interface/scripted/xeronioussettings/xeronioussettings.lua" ],
	"scriptDelta" : 5
}
