{
	"sbqData" : {
		"victimAnimations": "/humanoid/sbqzevi/victim_animations.config",
		"scripts" : ["/humanoid/sbq_vore_scripts.lua", "/humanoid/sbqzevi/sbq_vore_scripts.lua"],

		"locations" :{
			"belly" : { "name" : "Belly", "max": 1, "digest" : true, "hammerspace" : true },
			"shaft" : { "name" : "Shaft", "max": 1, "maxNested" : -1 }
		},
		"allowedModifiers" : {
			"fatten": {"min": 0, "max": 1},
			"escapeDifficulty": {"min": -100, "max": 100},
			"bellyEffect": { "sbqRemoveBellyEffects":true, "sbqHeal":true, "sbqDigest":true, "sbqSoftDigest":true },
			"bellyMultiplier": {"min": 0, "max": 100},
			"displayDigest": "bool"
		}
	},
	"states": {
		"stand": {
			"edible" : true,
			"transitions": {
				// directional = occupant0 can press that direction to transition
				"oralVore" : {
					"script" : "oralVore",
					"voreType" : "oralVore",
					"location" : "belly",
					"failOnFull" : true,
					"victimAnimation" : "oralVore",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"oralEscape" : {
					"script" : "oralEscape",
					"voreType" : "oralVore",
					"location" : "belly",
					"victimAnimation" : "oralEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"analVore" : {
					"script" : "analVore",
					"voreType" : "analVore",
					"location" : "belly",
					"failOnFull" : true,
					"victimAnimation" : "analVore",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"analEscape" : {
					"script" : "analEscape",
					"voreType" : "analVore",
					"location" : "belly",
					"victimAnimation" : "analEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				}
			},
			"shrinkAnims":{
				"belly": { "belly": "shrink" }
			},
			"expandAnims":{
				"belly": { "belly": "expand" }
			},
			"locationCenters" : {
				"belly" : [0, -2]
			},
			"struggle": {
				"belly" : {
					"parts" : ["belly"],
					"directions" : {
						"front": { "transition": "oralEscape", "indicate" : "red", "drivingEnabled" : true },
						"back": { "transition": "analEscape", "indicate" : "red", "drivingEnabled" : true  },
						"up": {},
						"down": {}
					},
					"chances": { "min": 5, "max": 7 }
				},
				"cock" : {
					"parts" : ["cock"],
					"directions" : {
						"front": { "transition": "cockEscape", "indicate" : "red", "drivingEnabled" : true  },
						"down": {},
						"up": {},
						"back": {}
					},
					"chances": { "min": 5, "max": 7 }
				}
			}
		}
	}
}
