{
	"bodyType" : "quadruped",
	"partImages" : {
		"body" : "/humanoid/sbqZevi/<gender>body.png",
		"frontarms" : "/humanoid/sbqZevi/frontarm.png",
		"backarms" : "/humanoid/sbqZevi/backarm.png",
		"frontarms_rotation" : "/humanoid/sbqZevi/frontarm.png",
		"backarms_rotation" : "/humanoid/sbqZevi/backarm.png",
		"head" : "/humanoid/sbqZevi/<gender>head.png",
		"hair" : "/empty_image.png",
		"emote" : "/humanoid/sbqZevi/emote.png"
	},
	"globalOffset" : [0,0.5],
	"animations" : {
		"idle" : {
			"body" : "idle",
			"arms" : "idle",
			"offset" : {},
			"rotate" : {}
		},
		"sit" : {
			"body" : "sit",
			"arms" : "sit",
			"offset" : {
				"parts" : [
					{ "x": [-3], "y": [1], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"lay" : {
			"body" : "lay",
			"arms" : "lay",
			"offset" : {
				"parts" : [
					{ "x": [1], "y": [-11], "groups": ["headbob", "armsbob"]},
					{ "y": [21], "groups": ["globalOffset2"]}
				]
			},
			"rotate" : {
				"parts" : [
					{ "rotation" : [90], "groups": ["globalRotation"]}
				]
			}
		},
		"duck" : {
			"body" : "duck",
			"arms" : "duck",
			"offset" : {
				"parts" : [
					{ "y": [-8], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}

		},
		"walk" : {
			"body" : "walk",
			"arms" : "walk",
			"offset" : {
				"loop" : true,
				"parts" : [
					{ "y": [-1, -1, 0, 0, -1, -1, 0, 0], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"run" : {
			"body" : "run",
			"arms" : "run",
			"offset" : {
				"loop" : true,
				"parts" : [
					{ "x": [1], "y": [-1, 0, -1, -2, -1, 0, -1, -2], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"jump" : {
			"body" : "jump",
			"arms" : "jump",
			"offset" : {
				"parts" : [
					{ "y": [1], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"fall" : {
			"body" : "fall",
			"arms" : "fall",
			"offset" : {},
			"rotate" : {}
		},
		"swim" : {
			"body" : "swim",
			"arms" : "swim",
			"offset" : {
				"parts" : [
					{ "x": [1], "y": [0, -1, -2, -1, 0, 0, 0], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"swimIdle" : {
			"body" : "swimidle",
			"arms" : "swimidle",
			"offset" : {},
			"rotate" : {}
		}
	},
	"randomIdle" : {

	}

}
