{
	"bodyType" : "quadruped",
	"partImages" : {
		"body" : "/humanoid/sbqzevi/bodyAnimationParts/body.png",
		"belly" : "/humanoid/sbqzevi/bodyAnimationParts/belly.png",
		"backlegs" : "/humanoid/sbqzevi/bodyAnimationParts/legs.png",
		"frontlegs" : "/humanoid/sbqzevi/bodyAnimationParts/foreground/legs.png",
		"frontarms" : "/humanoid/sbqzevi/frontarm.png",
		"backarms" : "/humanoid/sbqzevi/backarm.png",
		"frontarms_rotation" : "/humanoid/sbqzevi/frontarm.png",
		"backarms_rotation" : "/humanoid/sbqzevi/backarm.png",
		"head" : "/humanoid/sbqzevi/<gender>head.png",
		"tail" : "/humanoid/sbqzevi/bodyAnimationParts/tail.png",
		"emote" : "/humanoid/sbqzevi/emote.png"
	},
	"globalOffset" : [0,0.5],
	"scripts" : [ "/humanoid/sbq_voreAnimOverrides.lua" ],
	"globalTagDefaults":{
		"bodyMask" : "/humanoid/sbqzevi/bodyAnimationParts/mask/body.png",
		"frontlegsMask" : "/humanoid/sbqzevi/bodyAnimationParts/mask/legs.png",
		"backlegsMask" : "/humanoid/sbqzevi/bodyAnimationParts/mask/legs.png",
		"tailMask" : "/humanoid/sbqzevi/bodyAnimationParts/mask/tail.png",
		"bellyMask" : "/humanoid/sbqzevi/bodyAnimationParts/belly.png",
		"frontlegsMask1" : "/humanoid/sbqzevi/bodyAnimationParts/mask/legs.png",
		"backlegsMask1" : "/humanoid/sbqzevi/bodyAnimationParts/mask/legs.png"
	},
	"animations" : {
		"idle" : {
			"state" : "stand",
			"body" : "idle",
			"arms" : "idle",
			"tail" : "idle",
			"legs" : "idle",
			"belly" : "idle",
			"cock" : "idle",
			"controlParameters" : { "collissionPoly" : [ [-1.25, -2.0], [-0.85, -2.5], [0.85, -2.5], [1.25, -2.0], [1.25, -0.35], [0.85, 0.22], [-0.85, 0.22], [-1.25, -0.35] ] },
			"offset" : { "parts" : []},
			"rotate" : {}
		},
		"sit" : {
			"state" : "sit",
			"body" : "sit",
			"arms" : "sit",
			"tail" : "sit",
			"legs" : "sit",
			"belly" : "sit",
			"cock" : "sit",
			"offset" : {
				"parts" : [
					{ "x": [-3], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"lay" : {
			"state" : "lay",
			"body" : "lay",
			"arms" : "lay",
			"tail" : "lay",
			"legs" : "lay",
			"belly" : "lay",
			"cock" : "lay",
			"controlParameters" : { "collissionPoly" : [ [-1.25, -2.0], [-0.85, -2.5], [0.85, -2.5], [1.25, -2.0], [1.25, -1.25], [0.85, -0.75], [-0.85, -0.75], [-1.25, -1.25] ] },
			"offset" : {
				"parts" : [
					{ "x": [1], "y": [-11], "groups": ["headbob", "armsbob"]},
					{ "y": [21], "groups": ["globalOffset2"]}
				]
			},
			"rotate" : {
				"parts" : [
					{ "rotation" : [90], "groups": ["globalRotation"]}
				]
			}
		},
		"duck" : {
			"state" : "crouch",
			"body" : "duck",
			"arms" : "duck",
			"tail" : "idle",
			"legs" : "duck",
			"belly" : "duck",
			"cock" : "duck",
			"controlParameters" : { "collissionPoly" : [ [-1.25, -2.0], [-0.85, -2.5], [0.85, -2.5], [1.25, -2.0], [1.25, -1.25], [0.85, -0.75], [-0.85, -0.75], [-1.25, -1.25] ] },
			"offset" : {
				"parts" : [
					{ "y": [-8], "groups": ["headbob", "armsbob"]},
					{ "x" : [-1], "y": [-4], "groups": ["tailbob"]}
				]
			},
			"rotate" : {}

		},
		"walk" : {
			"state" : "stand",
			"body" : "walk",
			"arms" : "walk",
			"tail" : "walk",
			"legs" : "walk",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {
				"reversible" : true,
				"loop" : true,
				"parts" : [
					{ "y": [-1, -1, 0, 0, -1, -1, 0, 0], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"run" : {
			"state" : "stand",
			"body" : "run",
			"arms" : "run",
			"tail" : "run",
			"legs" : "run",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {
				"reversible" : true,
				"loop" : true,
				"parts" : [
					{ "x": [1], "y": [-1, 0, -1, -2, -1, 0, -1, -2], "groups": ["headbob", "armsbob"]},
					{ "y": [ 0, 1, 0, 0, 0, 1, 0, 0], "groups": ["bellybob", "tailbob"]}

				]
			},
			"rotate" : {}
		},
		"jump" : {
			"state" : "stand",
			"body" : "jump",
			"arms" : "jump",
			"tail" : "jump",
			"legs" : "jump",
			"belly" : "jump",
			"cock" : "jump",
			"offset" : {
				"parts" : [
					{ "y": [1], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"fall" : {
			"state" : "stand",
			"body" : "fall",
			"arms" : "fall",
			"tail" : "fall",
			"legs" : "fall",
			"belly" : "fall",
			"cock" : "fall",
			"offset" : {},
			"rotate" : {}
		},
		"swim" : {
			"state" : "stand",
			"body" : "swim",
			"arms" : "swim",
			"tail" : "swim",
			"legs" : "swim",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {
				"parts" : [
					{ "x": [1], "y": [0, -1, -2, -1, 0, 0, 0], "groups": ["headbob"]},
					{ "y": [0, -1, -2, -1, 0, 0, 0], "groups": ["armsbob", "bellybob"]}
				]
			},
			"rotate" : {}
		},
		"swimIdle" : {
			"state" : "stand",
			"body" : "swimidle",
			"arms" : "swimidle",
			"tail" : "swimidle",
			"legs" : "swimidle",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {},
			"rotate" : {}
		}
	},
	"randomIdle" : {

	}

}
