{
	"bodyType" : "quadruped",
	"partImages" : {
		"body" : "/humanoid/sbqZevi/bodyAnimationParts/body.png",
		"belly" : "/humanoid/sbqZevi/bodyAnimationParts/belly.png",
		"backlegs" : "/humanoid/sbqZevi/bodyAnimationParts/legs.png",
		"frontlegs" : "/humanoid/sbqZevi/bodyAnimationParts/foreground/legs.png",
		"frontarms" : "/humanoid/sbqZevi/frontarm.png",
		"backarms" : "/humanoid/sbqZevi/backarm.png",
		"frontarms_rotation" : "/humanoid/sbqZevi/frontarm.png",
		"backarms_rotation" : "/humanoid/sbqZevi/backarm.png",
		"head" : "/humanoid/sbqZevi/<gender>head.png",
		"tail" : "/humanoid/sbqZevi/bodyAnimationParts/tail.png",
		"hair" : "/empty_image.png",
		"emote" : "/humanoid/sbqZevi/emote.png"
	},
	"globalOffset" : [0,0.5],
	"scripts" : [ "/humanoid/sbq_voreAnimOverrides.lua" ],
	"vorePartImages" : {
		"belly" : "/humanoid/sbqZevi/bodyAnimationParts/belly.png",
		"cock" : "/humanoid/sbqZevi/bodyAnimationParts/cock.png"
	},

	"animations" : {
		"idle" : {
			"body" : "idle",
			"arms" : "idle",
			"tail" : "idle",
			"legs" : "idle",
			"belly" : "idle",
			"cock" : "idle",
			"hitbox" : [ [-1.25, -2.0], [-0.85, -2.5], [0.85, -2.5], [1.25, -2.0], [1.25, -0.35], [0.85, 0.22], [-0.85, 0.22], [-1.25, -0.35] ],
			"offset" : {},
			"rotate" : {}
		},
		"sit" : {
			"body" : "sit",
			"arms" : "sit",
			"tail" : "sit",
			"legs" : "sit",
			"belly" : "sit",
			"cock" : "sit",
			"offset" : {
				"parts" : [
					{ "x": [-3], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"lay" : {
			"body" : "lay",
			"arms" : "lay",
			"tail" : "lay",
			"legs" : "lay",
			"belly" : "lay",
			"cock" : "lay",
			"hitbox" : [ [-1.25, -2.0], [-0.85, -2.5], [0.85, -2.5], [1.25, -2.0], [1.25, -1.25], [0.85, -0.75], [-0.85, -0.75], [-1.25, -1.25] ],
			"offset" : {
				"parts" : [
					{ "x": [1], "y": [-11], "groups": ["headbob", "armsbob"]},
					{ "y": [21], "groups": ["globalOffset2"]}
				]
			},
			"rotate" : {
				"parts" : [
					{ "rotation" : [90], "groups": ["globalRotation"]}
				]
			}
		},
		"duck" : {
			"body" : "duck",
			"arms" : "duck",
			"tail" : "duck",
			"legs" : "duck",
			"belly" : "duck",
			"cock" : "duck",
			"hitbox" : [ [-1.25, -2.0], [-0.85, -2.5], [0.85, -2.5], [1.25, -2.0], [1.25, -1.25], [0.85, -0.75], [-0.85, -0.75], [-1.25, -1.25] ],
			"offset" : {
				"parts" : [
					{ "y": [-8], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}

		},
		"walk" : {
			"body" : "walk",
			"arms" : "walk",
			"tail" : "walk",
			"legs" : "walk",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {
				"loop" : true,
				"parts" : [
					{ "y": [-1, -1, 0, 0, -1, -1, 0, 0], "groups": ["headbob", "armsbob", "tailbob", "bellybob"]}
				]
			},
			"rotate" : {}
		},
		"run" : {
			"body" : "run",
			"arms" : "run",
			"tail" : "run",
			"legs" : "run",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {
				"loop" : true,
				"parts" : [
					{ "x": [1], "y": [-1, 0, -1, -2, -1, 0, -1, -2], "groups": ["headbob", "armsbob", "tailbob", "bellybob"]}
				]
			},
			"rotate" : {}
		},
		"jump" : {
			"body" : "jump",
			"arms" : "jump",
			"tail" : "jump",
			"legs" : "jump",
			"belly" : "jump",
			"cock" : "jump",
			"offset" : {
				"parts" : [
					{ "y": [1], "groups": ["headbob", "armsbob"]}
				]
			},
			"rotate" : {}
		},
		"fall" : {
			"body" : "fall",
			"arms" : "fall",
			"tail" : "fall",
			"legs" : "fall",
			"belly" : "fall",
			"cock" : "fall",
			"offset" : {},
			"rotate" : {}
		},
		"swim" : {
			"body" : "swim",
			"arms" : "swim",
			"tail" : "swim",
			"legs" : "swim",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {
				"parts" : [
					{ "x": [1], "y": [0, -1, -2, -1, 0, 0, 0], "groups": ["headbob", "armsbob", "bellybob"]}
				]
			},
			"rotate" : {}
		},
		"swimIdle" : {
			"body" : "swimidle",
			"arms" : "swimidle",
			"tail" : "swimidle",
			"legs" : "swimidle",
			"belly" : "idle",
			"cock" : "idle",
			"offset" : {},
			"rotate" : {}
		}
	},
	"randomIdle" : {

	}

}
