{
	"merge" : ["/humanoid/speciesAnimOverride.config", "/humanoid/sbqBatty_Xeronious/sbqAnimOverrideParts.config"],

	"partImages" : {
		"tail" : "/humanoid/<species>/tail.png"
	},
	"globalTagDefaults":{
		"frontlegsMask1" : "/humanoid/<species>/foreground/malebody.png",
		"tailMask" : "/humanoid/<species>/tail.png"
	}
}
