{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/pvso/header.png",
			"fileBody" : "/interface/scripted/pvso/vaporeonsettings/body.png",
			"fileFooter" : "/interface/scripted/pvso/footer.png"
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 160, 150 ]
		},

		"title" : {
			"type" : "title",
			"title" : "Vaporeon Settings",
			"subtitle" : "fishcat fishcat fishcat",
			"icon" : {
				"type" : "image",
				"file" : "/vehicles/spov/vaporeon/spov/default/icon.png",
				"minSize" : [ 24, 24 ]
			},
			"position" : [ 6, 150 ]
		},

		"autoDeploy" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 10, 18 ]
		},
		"autoDeployLabel": {
			"type" : "label",
			"value" : "Auto Deploy",
			"position" : [ 25, 18 ]
		},

		// "defaultSmall" : {
		//	 "type" : "button",
		//	 "base" : "/interface/optionsmenu/checkboxnocheck.png",
		//	 "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		//	 "checkable" : true,
		//	 "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		//	 "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		//	 "position" : [ 50, 18 ]
		// },
		// "defaultSmallLabel": {
		//	 "type" : "label",
		//	 "value" : "Default to Small",
		//	 "position" : [ 65, 18 ]
		// },

		"bellyEffect" : {
			"type" : "radioGroup",
			"callback" : "setBellyEffect",
			"position" : [ 10, 90 ],
			"buttons" : [
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 30 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 20 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 10 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 0 ]
			}
			]
		},
		"bellyEffectLabel": {
			"type" : "label",
			"value" : "Belly Effect",
			"position" : [ 12, 130 ]
		},
		"bellyEffectLabelNone": {
			"type" : "label",
			"value" : "None",
			"position" : [ 25, 120 ]
		},
		"bellyEffectLabelHeal": {
			"type" : "label",
			"value" : "Heal",
			"position" : [ 25, 110 ]
		},
		"bellyEffectLabelDigest": {
			"type" : "label",
			"value" : "Digest",
			"position" : [ 25, 100 ]
		},
		"bellyEffectLabelSoftDigest": {
			"type" : "label",
			"value" : "Soft Digest",
			"position" : [ 25, 90 ]
		},
		"displayDamage" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 10, 75 ]
		},
		"displayDamageLabel": {
			"type" : "label",
			"value" : "DoT Effects",
			"position" : [ 25, 75 ]
		},
		"letOut": {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/buttongrayed.png",
			"caption" : "Let Out",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 115, 35 ],
			"zlevel" : 2,
			"data": 0
		},
		"transform": {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/buttongrayed.png",
			"caption" : "Transform",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 59, 35 ],
			"zlevel" : 2,
			"data": 0
		},
		"despawn" : {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/buttongrayed.png",
			"caption" : "Despawn",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 115, 16 ]
		},
		"occupantScrollArea": {
			"type" : "scrollArea",
			"rect" : [78, 50, 178, 142],
			"children" : {
				"occupantList" : {
					"type" : "list",
					"position" : [0, 0],
					"schema" : {
						"selectedBG" : "/interface/scripted/pvso/portraitselected.png",
						"hoverBG" : "/interface/scripted/pvso/portraithover.png",
						"unselectedBG" : "/interface/scripted/pvso/portrait.png",
						"spacing" : [0, -1],
						"memberSize" : [92, 28],
						"listTemplate" : {
							"background": {
								"type" : "image",
								"file" : "/interface/scripted/pvso/portrait.png",
								"position" : [ 0, 0 ],
								"zlevel" : 1
							},
							"portrait": {
								"type" : "canvas",
								"rect" : [ 0, 6, 22, 28 ],
								"zlevel" : 2
							},
							"healthbar": {
								"type" : "progress",
								"background" : "/interface/scripted/pvso/emptybar.png",
								"progressSet" : {
								"inner" : "/interface/scripted/pvso/healthbar.png",
								"type" : "repeat"
								},
								"size" : [ 61, 5 ],
								"direction" : "horizontal",
								"position" : [ 27, 10 ],
								"zlevel" : 2
							},
							"secondarybar": {
								"type" : "progress",
								"background" : "/interface/scripted/pvso/emptybar.png",
								"progressSet" : {
								"inner" : "/interface/scripted/pvso/vaporeonsettings/vaporeonbar.png",
								"type" : "repeat"
								},
								"size" : [ 61, 5 ],
								"direction" : "horizontal",
								"position" : [ 27, 4 ],
								"zlevel" : 2
							},
							"name": {
								"type" : "label",
								"value" : "placeholder",
								"position" : [ 27, 17 ],
								"zlevel" : 2
							}
						}
					}
				}
			}
		}
	},

	"scriptWidgetCallbacks" : [
		"setBellyEffect",
		"despawn",
		"autoDeploy",
		"displayDamage",
		"defaultSmall",
		"letOut",
		"setEscapeModifier",
		"transform"
	],

	"scripts" : [ "/interface/scripted/pvso/vaporeonsettings/vaporeonsettings.lua" ],
	"scriptDelta" : 5
}
