{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background", // 240 width
			"fileHeader" : "/interface/scripted/pvso/header.png", // 24
			"fileBody" : "/interface/scripted/pvso/vaporeonsettings/body.png", // 112
			"fileFooter" : "/interface/scripted/pvso/footer.png" // 40
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 224, 158 ]
		},

		"icon" : {
			"type" : "image",
			"file" : "/vehicles/spov/vaporeon/spov/default/icon.png",
			"position" : [ 8, 156 ]
		},

		"title" : {
			"type" : "title",
			"title" : "Vaporeon Settings",
			"subtitle" : "fishcat fishcat fishcat"
		},

		"autoDeploy" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 23 ]
		},
		"autoDeployLabel": {
			"type" : "label",
			"value" : "Auto Deploy",
			"position" : [ 19, 23 ]
		},

		"bellyEffect" : {
			"type" : "radioGroup",
			"callback" : "setBellyEffect",
			"position" : [ 7, 99 ],
			"buttons" : [
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 30 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 20 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 10 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 0 ]
			}
			]
		},
		"bellyEffectLabel": {
			"type" : "label",
			"value" : "Belly Effect",
			"position" : [ 7, 139 ]
		},
		"bellyEffectLabelNone": {
			"type" : "label",
			"value" : "None",
			"position" : [ 19, 129 ]
		},
		"bellyEffectLabelHeal": {
			"type" : "label",
			"value" : "Heal",
			"position" : [ 19, 119 ]
		},
		"bellyEffectLabelDigest": {
			"type" : "label",
			"value" : "Digest",
			"position" : [ 19, 109 ]
		},
		"bellyEffectLabelSoftDigest": {
			"type" : "label",
			"value" : "Soft Digest",
			"position" : [ 19, 99 ]
		},
		"displayDamage" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 7, 87 ]
		},
		"displayDamageLabel": {
			"type" : "label",
			"value" : "DoT Effects",
			"position" : [ 19, 87 ]
		},

		"defaultSmall" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 75, 23 ]
		},
		"defaultSmallLabel": {
			"type" : "label",
			"value" : "Default to Small",
			"position" : [ 87, 23 ]
		},

		"escapeModifierLabel": {
			"type" : "label",
			"value" : "Escape Modifier",
			"position" : [ 75, 139 ]
		},
		"escapeModifier" : {
			"type" : "radioGroup",
			"callback" : "setEscapeModifier",
			"position" : [ 75, 99 ],
			"buttons" : [
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 30 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 20 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 10 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 0 ]
			}
			]
		},
		"escapeModifierLabelEasy": {
			"type" : "label",
			"value" : "Easy",
			"position" : [ 87, 129 ]
		},
		"escapeModifierLabelNormal": {
			"type" : "label",
			"value" : "Normal",
			"position" : [ 87, 119 ]
		},
		"escapeModifierLabelHard": {
			"type" : "label",
			"value" : "Hard",
			"position" : [ 87, 109 ]
		},
		"escapeModifierLabelNone": {
			"type" : "label",
			"value" : "Impossible",
			"position" : [ 87, 99 ]
		},

		"colorsLabel": {
			"type" : "label",
			"value" : "Color Palette",
			"position" : [ 15, 76 ]
		},
		"prevColor1":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 7, 65 ],
			"zlevel" : 2
		},
		"prevColor2":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 7, 53 ],
			"zlevel" : 2
		},
		"prevColor3":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 7, 41 ],
			"zlevel" : 2
		},
		"color1Label":{
			"type" : "label",
			"value" : "1",
			"position" : [ 20, 65 ]
		},
		"color2Label":{
			"type" : "label",
			"value" : "1",
			"position" : [ 20, 53 ]
		},
		"color3Label":{
			"type" : "label",
			"value" : "1",
			"position" : [ 20, 41 ]
		},
		"nextColor1":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 27, 65 ],
			"zlevel" : 2
		},
		"nextColor2":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 27, 53 ],
			"zlevel" : 2
		},
		"nextColor3":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 27, 41 ],
			"zlevel" : 2
		},

		"prevColor4":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 47, 65 ],
			"zlevel" : 2
		},
		"prevColor5":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 47, 53 ],
			"zlevel" : 2
		},
		"prevColor6":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 47, 41 ],
			"zlevel" : 2
		},
		"color4Label":{
			"type" : "label",
			"value" : "1",
			"position" : [ 60, 65 ]
		},
		"color5Label":{
			"type" : "label",
			"value" : "1",
			"position" : [ 60, 53 ]
		},
		"color6Label":{
			"type" : "label",
			"value" : "1",
			"position" : [ 60, 41 ]
		},
		"nextColor4":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 67, 65 ],
			"zlevel" : 2
		},
		"nextColor5":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 67, 53 ],
			"zlevel" : 2
		},
		"nextColor6":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 67, 41 ],
			"zlevel" : 2
		},


		"letOut": {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/buttongrayed.png",
			"caption" : "Let Out",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 177, 40 ],
			"zlevel" : 2,
			"data": 0
		},
		"transform": {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/buttongrayed.png",
			"caption" : "Transform",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 121, 40 ],
			"zlevel" : 2,
			"data": 0
		},
		"despawn" : {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/buttongrayed.png",
			"caption" : "Despawn",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 177, 21 ]
		},
		"occupantScrollArea": {
			"type" : "scrollArea",
			"rect" : [140, 55, 240, 151],
			"children" : {
				"occupantList" : {
					"type" : "list",
					"position" : [0, 0],
					"schema" : {
						"selectedBG" : "/interface/scripted/pvso/portraitselected.png",
						"hoverBG" : "/interface/scripted/pvso/portraithover.png",
						"unselectedBG" : "/interface/scripted/pvso/portrait.png",
						"spacing" : [0, -1],
						"memberSize" : [92, 28],
						"listTemplate" : {
							"background": {
								"type" : "image",
								"file" : "/interface/scripted/pvso/portrait.png",
								"position" : [ 0, 0 ],
								"zlevel" : 1
							},
							"portrait": {
								"type" : "canvas",
								"rect" : [ 0, 6, 22, 28 ],
								"zlevel" : 2
							},
							"healthbar": {
								"type" : "progress",
								"background" : "/interface/scripted/pvso/emptybar.png",
								"progressSet" : {
								"inner" : "/interface/scripted/pvso/healthbar.png",
								"type" : "repeat"
								},
								"size" : [ 61, 5 ],
								"direction" : "horizontal",
								"position" : [ 27, 10 ],
								"zlevel" : 2
							},
							"secondarybar": {
								"type" : "progress",
								"background" : "/interface/scripted/pvso/emptybar.png",
								"progressSet" : {
								"inner" : "/interface/scripted/pvso/vaporeonsettings/vaporeonbar.png",
								"type" : "repeat"
								},
								"size" : [ 61, 5 ],
								"direction" : "horizontal",
								"position" : [ 27, 4 ],
								"zlevel" : 2
							},
							"name": {
								"type" : "label",
								"value" : "placeholder",
								"position" : [ 27, 17 ],
								"zlevel" : 2
							}
						}
					}
				}
			}
		}
	},

	"scriptWidgetCallbacks" : [
		"setBellyEffect",
		"despawn",
		"autoDeploy",
		"displayDamage",
		"defaultSmall",
		"letOut",
		"setEscapeModifier",
		"transform",
		"prevColor1",
		"prevColor2",
		"prevColor3",
		"nextColor1",
		"nextColor2",
		"nextColor3",
		"prevColor4",
		"prevColor5",
		"prevColor6",
		"nextColor4",
		"nextColor5",
		"nextColor6"
	],

	"scripts" : [ "/interface/scripted/pvso/vaporeonsettings/vaporeonsettings.lua" ],
	"scriptDelta" : 5
}
