{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/vappysettings/header.png",
      "fileBody" : "/interface/scripted/vappysettings/body.png",
      "fileFooter" : "/interface/scripted/vappysettings/footer.png"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [ 0, 0 ],
      "position" : [ 260, 160 ]
    },

    "title" : {
        "type" : "title",
        "title" : "Vappy Settings",
        "subtitle" : "fishcat fishcat fishcat",
        "icon" : {
          "type" : "image",
          "file" : "/vehicles/spov/vaporeon/vaporeonicon.png",
          "minSize" : [ 24, 24 ]
        },
        "position" : [ 6, 160 ]
    },

    "despawn" : {
        "type" : "button",
        "base" : "/interface/buttonred.png",
        "hover" : "/interface/buttonredhover.png",
        "pressed" : "/interface/buttonactive.png",
        "disabledImage" : "/interface/button.png",
        "caption" : "Despawn",
        "fontColorDisabled" : "gray",
        "textAlign" : "center",
        "position" : [ 212, 16 ]
    },

    "autoDeploy" : {
        "type" : "button",
        "base" : "/interface/optionsmenu/checkboxnocheck.png",
        "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
        "checkable" : true,
        "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
        "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
        "position" : [ 10, 18 ]
    },
    "autoDeployLabel": {
      "type" : "label",
      "value" : "Auto Deploy",
      "position" : [ 25, 18 ]
    },

    "defaultSmall" : {
        "type" : "button",
        "base" : "/interface/optionsmenu/checkboxnocheck.png",
        "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
        "checkable" : true,
        "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
        "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
        "position" : [ 50, 18 ]
    },
    "defaultSmallLabel": {
      "type" : "label",
      "value" : "Default to Small",
      "position" : [ 65, 18 ]
    },

    "bellyEffect" : {
      "type" : "radioGroup",
      "callback" : "setBellyEffect",
      "position" : [ 10, 45 ],
      "buttons" : [
        {
          "baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
          "hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
          "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
          "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
          "position": [ 0, 30 ]
        },
        {
          "baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
          "hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
          "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
          "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
          "position": [ 0, 20 ]
        },
        {
          "baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
          "hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
          "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
          "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
          "position": [ 0, 10 ]
        },
        {
          "baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
          "hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
          "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
          "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
          "position": [ 0, 0 ]
        }
      ]
    },
    "bellyEffectLabel": {
      "type" : "label",
      "value" : "Belly Effect",
      "position" : [ 12, 90 ]
    },
    "bellyEffectLabelNone": {
      "type" : "label",
      "value" : "None",
      "position" : [ 25, 75 ]
    },
    "bellyEffectLabelHeal": {
      "type" : "label",
      "value" : "Heal",
      "position" : [ 25, 65 ]
    },
    "bellyEffectLabelDigest": {
      "type" : "label",
      "value" : "Digest",
      "position" : [ 25, 55 ]
    },
    "bellyEffectLabelSoftDigest": {
      "type" : "label",
      "value" : "Soft Digest",
      "position" : [ 25, 45 ]
    },

    "clickMode" : {
      "type" : "radioGroup",
      "callback" : "setClickMode",
      "position" : [ 10, 110 ],
      "buttons" : [
        {
          "baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
          "hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
          "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
          "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
          "position": [ 0, 10 ]
        },
        {
          "baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
          "hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
          "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
          "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
          "position": [ 0, 0 ]
        }
      ]
    },
    "clickModeLabel": {
      "type" : "label",
      "value" : "Click Mode",
      "position" : [ 12, 135 ]
    },
    "clickModeLabelAttack": {
      "type" : "label",
      "value" : "Attack",
      "position" : [ 25, 120 ]
    },
    "clickModeLabelBuild": {
      "type" : "label",
      "value" : "Build",
      "position" : [ 25, 110 ]
    }
  },

  "scriptWidgetCallbacks" : [
    "setClickMode",
    "setBellyEffect",
    "despawn",
    "autoDeploy",
    "defaultSmall"
  ],

  "scripts" : [ "/interface/scripted/vappysettings/vappysettings.lua" ],
  "scriptDelta" : 30
}
