{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/vappysettings/header.png",
			"fileBody" : "/interface/scripted/vappysettings/body.png",
			"fileFooter" : "/interface/scripted/vappysettings/footer.png"
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 160, 130 ]
		},

		"title" : {
			"type" : "title",
			"title" : "Vaporeon Settings",
			"subtitle" : "fishcat fishcat fishcat",
			"icon" : {
				"type" : "image",
				"file" : "/vehicles/spov/vaporeon/vaporeonicon.png",
				"minSize" : [ 24, 24 ]
			},
			"position" : [ 6, 130 ]
		},

		"despawn" : {
			"type" : "button",
			"base" : "/interface/buttonred.png",
			"hover" : "/interface/buttonredhover.png",
			"pressed" : "/interface/buttonactive.png",
			"disabledImage" : "/interface/button.png",
			"caption" : "Despawn",
			"fontColorDisabled" : "gray",
			"textAlign" : "center",
			"position" : [ 112, 16 ]
		},

		"autoDeploy" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 10, 18 ]
		},
		"autoDeployLabel": {
			"type" : "label",
			"value" : "Auto Deploy",
			"position" : [ 25, 18 ]
		},

		// "defaultSmall" : {
		//	 "type" : "button",
		//	 "base" : "/interface/optionsmenu/checkboxnocheck.png",
		//	 "hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		//	 "checkable" : true,
		//	 "baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		//	 "hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		//	 "position" : [ 50, 18 ]
		// },
		// "defaultSmallLabel": {
		//	 "type" : "label",
		//	 "value" : "Default to Small",
		//	 "position" : [ 65, 18 ]
		// },

		"bellyEffect" : {
			"type" : "radioGroup",
			"callback" : "setBellyEffect",
			"position" : [ 10, 62 ],
			"buttons" : [
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 30 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 20 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 10 ]
			},
			{
				"baseImage" : "/interface/optionsmenu/checkboxnocheck.png",
				"hoverImage" : "/interface/optionsmenu/checkboxnocheckhover.png",
				"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
				"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
				"position": [ 0, 0 ]
			}
			]
		},
		"bellyEffectLabel": {
			"type" : "label",
			"value" : "Belly Effect",
			"position" : [ 12, 107 ]
		},
		"bellyEffectLabelNone": {
			"type" : "label",
			"value" : "None",
			"position" : [ 25, 92 ]
		},
		"bellyEffectLabelHeal": {
			"type" : "label",
			"value" : "Heal",
			"position" : [ 25, 82 ]
		},
		"bellyEffectLabelDigest": {
			"type" : "label",
			"value" : "Digest",
			"position" : [ 25, 72 ]
		},
		"bellyEffectLabelSoftDigest": {
			"type" : "label",
			"value" : "Soft Digest",
			"position" : [ 25, 62 ]
		},
		"displayDamage" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 10, 47 ]
		},
		"displayDamageLabel": {
			"type" : "label",
			"value" : "DoT Effects",
			"position" : [ 25, 47 ]
		},

		"occupantScrollArea": {
			"type" : "scrollArea",
			"rect" : [85, 81, 170, 77],
			"children" : {
				"occupantList" : {
					"type" : "list",
					"position" : [0, 0],
					"schema" : {
						"spacing" : [0, 0],
						"memberSize" : [85, 35],
						"occupantTemplate" : {
							"portraitback": {
								"type" : "image",
								"file" : "/interface/scripted/vappysettings/portrait.png",
								"position" : [ 0, 0 ],
								"zlevel" : 1
							},
							"portrait": {
								"type" : "canvas",
								"rect" : [ 0, 13, 22, 35 ],
								"zlevel" : 2
							},
							"healthbar": {
								"type" : "progress",
								"background" : "/interface/scripted/vappysettings/emptybar.png",
								"progressSet" : {
								"inner" : "/interface/scripted/vappysettings/healthbar.png",
								"type" : "repeat"
								},
								"size" : [ 61, 4 ],
								"direction" : "horizontal",
								"position" : [ 11, 4 ],
								"zlevel" : 2
							},
							"name": {
								"type" : "label",
								"value" : "",
								"position" : [ 27, 24 ],
								"zlevel" : 2
							},
							"letOut": {
								"type" : "button",
								"base" : "/interface/buttonred.png",
								"hover" : "/interface/buttonredhover.png",
								"pressed" : "/interface/buttonactive.png",
								"disabledImage" : "/interface/button.png",
								"caption" : "Let Out",
								"fontColorDisabled" : "gray",
								"textAlign" : "center",
								"position" : [ 26, 10 ],
								"zlevel" : 2,
								"data": 1
							}
						}
					}
				}
			}
		}
	},

	"scriptWidgetCallbacks" : [
		"setBellyEffect",
		"despawn",
		"autoDeploy",
		"displayDamage",
		"defaultSmall",
		"letOut"
	],

	"scripts" : [ "/interface/scripted/vappysettings/vappysettings.lua" ],
	"scriptDelta" : 5
}
