
{

	"playereat":{
		"visible": [ 1,1,1,1,1,1,1,0 ],
		"xs": [ -1 ],
		"x": [ 3, 3, 3, 3.75, 3.75, 3.5, 2.25, 1.25 ],
		"y": [ -1.5, -1.5, -1.5, -1.5, -1.24, 0.75, -0.375, -1.25 ],
		"r": [ 0, 0, 0, 10, 60, 135, 130, 135, 125 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "victimrun" ]
	},
	"escape":{
		"visible": [ 0,1,1,1,1,1,1 ],
		"xs": [ -1 ],
		"x": [ 1.25, 1.25, 1.25, 2.75, 3.5, 3.5, 3.5 ],
		"y": [ -1.25, -1.25, -1.0, -0.75, -0.75, -1.5, -1.5 ],
		"r": [ 125, 135, 130, 135, 100, 40, 0 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "victimrun" ]
	},
	"bellybed":{
		"visible": [1],
		"xs": [ -1 ],
		"x": [ 1.3125 ], // why is it half a pixel off ugh
		"y": [ -2.0 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "sleep" ],
		"dance": [ ]
	},
	"bellyhug":{
		"visible": [1],
		"xs": [ -1 ],
		"x": [ 1.8175 ], // why is it half a pixel off ugh,
		"y": [ -2.0 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "sleep" ],
		"dance": [ ]
	},
	"backRollover":{
		"frames": [ 0, 2, 4 ],
		"visible": [ 1 ],
		"xs": [ -1 ],
		"x": [ 1.8175, 2, 3.8175 ], // why is it half a pixel off ugh,
		"y": [ -2.0, -3.125, -3.5 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "idle" ],
		"dance": [ ]
	},
	"layRollover":{
		"frames": [ 0, 2, 4 ],
		"visible": [1],
		"xs": [ -1 ],
		"x": [ 3.8175, 2, 1.3125 ], // why is it half a pixel off ugh,
		"y": [ -3.5, -3.125, -2.0 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "sleep" ],
		"dance": [ ]
	},
	"sitpinned":{
		"visible": [ 1 ],
		"xs": [ -1 ],
		"x": [ 3.5, 3.8175 ], // why is it half a pixel off ugh,
		"y": [ -1.75, -3.5 ],
		"r": [ 0, -90.0 ],
		"sitpos": [ "stand", "lay" ],
		"emote": [ "idle" ],
		"dance": [ ]
	},
	"situnpin":{
		"visible": [1],
		"xs": [ -1 ],
		"x": [ 3.8175, 3.5 ], // why is it half a pixel off ugh,
		"y": [ -3.5, -1.75 ],
		"r": [ -90.0, 0.0 ],
		"sitpos": [ "lay", "stand" ],
		"emote": [ "idle" ],
		"dance": [ ]
	},
	"hug.s_up":{
		"visible": [ 1 ],
		"xs": [ -1 ],
		"x": [ 1.8175 ], // why is it half a pixel off ugh,
		"y": [ -2.0, -1.75, -2.0 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "sleep" ],
		"dance": [ ]
	},
	"hug.s_front":{
		"visible": [ 1 ],
		"xs": [ -1 ],
		"x": [ 1.8175, 2.0675, 1.8175 ], // why is it half a pixel off ugh,
		"y": [ -2.0 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "sleep" ],
		"dance": [ ]
	},
	"hug.s_back":{
		"visible": [ 1 ],
		"xs": [ -1 ],
		"x": [ 1.8175, 1.5675, 1.8175 ], // why is it half a pixel off ugh,
		"y": [ -2.0 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "sleep" ],
		"dance": [ ]
	},
	"hug.s_down":{
		"visible": [ 1 ],
		"xs": [ -1 ],
		"x": [ 1.8175 ], // why is it half a pixel off ugh,
		"y": [ -2.0, -2.25, -2.0 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "sleep" ],
		"dance": [ ]
	},
	"pinned.s_up": {
		"visible": [ 1 ],
		"xs": [ -1 ],
		"x": [ 3.8175 ], // why is it half a pixel off ugh,
		"y": [ -3.5, -3.375, -3.5 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "idle" ],
		"dance": [ ]
	},
	"pinned.s_front": {
		"visible": [ 1 ],
		"xs": [ -1 ],
		"x": [ 3.8175, 4.0675, 3.8175 ], // why is it half a pixel off ugh,
		"y": [ -3.5 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "idle" ],
		"dance": [ ]
	},
	"pinned.s_back": {
		"visible": [ 1 ],
		"xs": [ -1 ],
		"x": [ 3.8175, 3.5675, 3.8175 ], // why is it half a pixel off ugh,
		"y": [ -3.5 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "idle" ],
		"dance": [ ]
	},
	"absorbback":{
		"visible": [ 1, 1, 0 ],
		"xs": [ -1 ],
		"x": [ 1.8175 ], // why is it half a pixel off ugh,
		"y": [ -2.0, -2.5, -3.0 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "sleep" ],
		"dance": [ ]
	},
	"absorbpinned":{
		"visible": [ 1, 1, 0 ],
		"xs": [ -1 ],
		"x": [ 3.8175, 2.8175, 1.8175 ], // why is it half a pixel off ugh,
		"y": [ -3.5, -3.4, -3.2 ],
		"r": [ -90.0 ],
		"sitpos": [ "lay" ],
		"emote": [ "sleep" ],
		"dance": [ ]
	}
}
