{
	"global" : [
		{ "name":"Let Out", "script":"letout" },
		{ "name":"Turbo Digest", "script":"turboDigest", "locations":["belly"] }
	],
	"sbqOccupantHolder" : [
		{ "name":"Eggify", "script":"eggify", "locations":["womb"] },
		{ "name":"Cum TF", "script":"cumTF", "locations":["shaft", "knot", "ballsR", "ballsL"] }
	],
	"sbqVaporeon" : [
		{ "name":"Transform", "script":"transform", "locations":["belly"] }
	],
	"sbqXeronious" : [
		{ "name":"Eggify", "script":"xeroEggify", "locations":["belly"] }
	],
	"sbqAvian" : [
		{ "name":"Cum TF", "script":"cumTF", "locations":["shaft", "knot", "ballsR", "ballsL"] }
	],
	"sbqSlime" : [
		{ "name":"Transform", "script":"transform" }
	],
	"sbqZiellekDragon" : [
		//{ "name":"Transform", "script":"transform", "locations":["womb"] },
		{ "name":"Eggify", "script":"eggify", "locations":["womb"] },
		//{ "name":"Egg + TF", "script":"eggTF", "locations":["womb"] },
		{ "name":"Cum TF", "script":"cumTF", "locations":["shaft", "knot", "ballsR", "ballsL"] }
	],
	// specific scripts for species when tfed and using an occupantHolder
	"glitch" : [
		{ "name":"Eggify", "script":"plasticEggify", "locations":["womb"] },
		{ "name":"Cum TF", "script":"cumTF", "locations":["shaft", "knot", "ballsR", "ballsL"] }
	],
	"novakid" : [
		{ "name":"Eggify", "script":"glassEggify", "locations":["womb"] },
		{ "name":"Cum TF", "script":"cumTF", "locations":["shaft", "knot", "ballsR", "ballsL"] }
	],
	"novali" : [
		{ "name":"Eggify", "script":"glassEggify", "locations":["womb"] },
		{ "name":"Cum TF", "script":"cumTF", "locations":["shaft", "knot", "ballsR", "ballsL"] }
	]
}
