{
	"sbqData" : {
		"victimAnimations": "/humanoid/victim_animations.config",
		"scripts" : [ "/humanoid/glitch/vore_scripts.lua" ],
		"locations" :{
			"belly" : { "name" : "Belly", "combine":["womb"], "max": 1, "digest" : true, "hammerspace" : true },
			"womb" : { "name" : "Womb", "max": 1, "hammerspace" : true },

			"shaft" : { "name" : "Shaft", "max": 1, "maxNested" : -1 }
		},
		"allowedModifiers" : {
			"fatten": {"min": 0, "max": 1},
			"escapeDifficulty": {"min": -100, "max": 100},
			"bellyEffect": { "sbqRemoveBellyEffects":true, "sbqHeal":true, "sbqDigest":true, "sbqSoftDigest":true },
			"bellyMultiplier": {"min": 0, "max": 100},
			"displayDigest": "bool"
		}
	}
}
