{
  "onShowSound" : [
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/popup/header.png",
      "fileBody" : "/interface/popup/body.png",
      "fileFooter" : "/interface/popup/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Predator Not Found",
      "subtitle" : "",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/sbq/sbqSettings/preySettings.png",
        "position" : [4, 4],
        "zlevel" : -1
      }
    },
    "ok" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/acceptUp.png",
      "hover" : "/interface/quests/newquest/acceptOver.png",
      "position" : [135, 30],
      "caption" : "Search Again"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/declineUp.png",
      "hover" : "/interface/quests/newquest/declineOver.png",
      "position" : [55, 30],
      "caption" : "Escape"
    },
    "message" : {
      "type" : "label",
      "position" : [15, 92],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 240,
      "lineSpacing" : 1.0,
      "value" : "",
      "color" : "white"
    }
  }
}
