{
	"globalTagDefaults" : {
		"bellyMask" : "/humanoid/novakid/belly.png",
		"cockMask" : "/humanoid/any/sbqVoreParts/cock.png",
		"pussyMask" : "/humanoid/any/sbqVoreParts/pussy.png",
		"ballsFrontMask" : "/humanoid/any/sbqVoreParts/ballsFront.png",
		"ballsBackMask" : "/humanoid/any/sbqVoreParts/ballsBack.png",
		"breastsFrontMask" : "/humanoid/avali/breastsFront.png",
		"breastsBackMask" : "/humanoid/avali/breastsBack.png"
	},
	"scripts" : ["/humanoid/avali/vore_anim_overrides.lua"],
	"sbqBreastCoverRemap" : {
		"species" : "avali",
		"remapColors" : [
			["primary","primary"],
			["secondary","primary"]
		]
	},
	"remapParts" : {
		"belly" : {
			"species" : "novakid",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","primary"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsCover2" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsFront" :  {
			"species" : "avali",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsBack" :  {
			"species" : "avali",
			"remapColors" : [
				["primary","primary"]
			]
		}
	}
}
