{
	"globalTagDefaults" : {
		"bellyMask" : "/humanoid/novakid/belly.png",
		"cockMask" : "/humanoid/novakid/cock.png",
		"pussyMask" : "/humanoid/novakid/pussy.png",
		"ballsFrontMask" : "/humanoid/novakid/ballsFront.png",
		"ballsBackMask" : "/humanoid/novakid/ballsBack.png",
		"breastsFrontMask" : "/humanoid/novakid/breastsFront.png",
		"breastsBackMask" : "/humanoid/novakid/breastsBack.png"
	},
	"remapParts" : {
		"belly" : {
			"species" : "novakid",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"cock" : {
			"species" : "novakid",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"pussy" : {
			"species" : "novakid",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"ballsFront" :  {
			"species" : "novakid",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"ballsBack" :  {
			"species" : "novakid",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsFront" :  {
			"species" : "novakid",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"breastsBack" :  {
			"species" : "novakid",
			"remapColors" : [
				["primary","primary"]
			]
		}
	}
}
