{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileBody" : "/interface/scripted/pvso/vsoRadialMenu/body.png"
		},

		"canvas" : {
			"type" : "canvas",
			"position" : [ 0, 0 ],
			"rect" : [ 0, 0, 200, 200 ],
			"captureMouseEvents" : true
		}

	},
	"canvasClickCallbacks" : {
		"canvas" : "canvasClickEvent"
	},

	"scripts" : [ "/interface/scripted/pvso/vsoRadialMenu/vsoRadialMenu.lua" ],
	"scriptDelta" : 5
}
