
{
	"absorbVore":{
		"endInside" : true,
		"frames" : [ 0, 7 ],
		"visible": [ 1 ],
		"y": [ 2, 0 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"absorbEscape":{
		"frames" : [ 0, 7],
		"visible": [ 1 ],
		"y": [ 0, 2 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	}
}
