{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],

		"listLocations" : [],
		"voreTypes" : {},

		"overrideSettings" : {
			"bellyEffectSlot" : "none",
			"wombEffectSlot" : "heal",
			"breastsEffectSlot" : "heal",
			"ballsEffectSlot" : "none",
			"shaftEffectSlot" : "none",

			"oralVorePred" : false,
			"tailVorePred" : false,
			"absorbVorePred" : false,
			"navelVorePred" : false,

			"analVorePred" : false,
			"unbirthPred" : false,
			"cockVorePred" : false,
			"breastVorePred" : false
		},

		"overridePreyEnabled" : {
			"preyEnabled": false,

			"digestImmunity": true,
			"cumDigestImmunity": true,
			"femcumDigestImmunity": true,
			"milkDigestImmunity" : true,

			"cumTFImmunity" : true,

			"allowSoftDigest" : false,
			"allowCumSoftDigest" : false,
			"allowFemcumSoftDigest" : false,
			"allowMilkSoftDigest" : false,

			"oralVore": false,
			"tailVore": false,
			"absorbVore": false,
			"navelVore": false,

			"analVore": false,
			"unbirth": false,
			"cockVore": false,
			"breastVore": false
		}
	}
}
