{
	"gui" : {
		"panefeature" : {
			"type" : "panefeature",
			"anchor" : "bottomRight",
			"offset" : [0, 0],
			"keyDismissable" : true,
			"persistent" : true,
			"positionLocked" : true
		},
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileBody" : "/interface/scripted/pvso/indicatorhud/background.png"
		},
		"indicator": {
			"type" : "canvas",
			"rect" : [ 15, 8, 41, 50 ],
			"zlevel" : 1
		}
	},

	"scriptWidgetCallbacks" : [],

	"scripts" : [ "/interface/scripted/pvso/indicatorhud/indicatorhud.lua" ],
	"scriptDelta" : 1
}
