{
	"gui" : {
	"background" : {
		"zlevel" : 0,
		"type" : "background",
		"fileBody" : "/interface/scripted/vsoRadialMenu/body.png"
	},

	"canvas" : {
		"type" : "canvas",
		"position" : [ 0, 0 ],
		"rect" : [ 0, 0, 200, 200 ]
	}
	},

	"scripts" : [ "/interface/scripted/vsoRadialMenu/vsoRadialMenu.lua" ],
	"scriptDelta" : 5
}
