
{
	"absorbVore":{
		"endInside" : true,
		"frames" : [ 0, 7 ],
		"visible": [ 1 ],
		"y": [ 3, 0 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"absorbEscape":{
		"frames" : [ 0, 7],
		"visible": [ 1 ],
		"y": [ 0, 3 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"s_up":{
		"endInside" : true,
		"frames" : [ 0, 2, 4 ],
		"visible": [ 1 ],
		"y": [ 0, 0.25, 0 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"s_down":{
		"endInside" : true,
		"frames" : [ 0, 2, 4 ],
		"visible": [ 1 ],
		"y": [ 0, -0.25, 0 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"s_front":{
		"endInside" : true,
		"frames" : [ 0, 2, 4 ],
		"visible": [ 1 ],
		"x": [ 0, 0.25, 0 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"s_back":{
		"endInside" : true,
		"frames" : [ 0, 2, 4 ],
		"visible": [ 1 ],
		"x": [ 0, -0.25, 0 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	}
}
