
{
	"invis":{
		"seconds":[ 0.0 ]
		,"seat":"firstOccupant"
		,"loop":true
		,"visible": [0]
		,"transformGroup":"victimposition"
		,"x": [ 0.0 ]
		,"y": [ 0.0 ]
		,"r": [ 0.0 ]
	}
	, "playereat":{
		"seat":"firstOccupant"
		,"loop":false
		,"interpMode":1
		,"transformGroup":"victimposition"
		,"frames":[ 0,1,2,3,4,5,6,7]
		,"visible": [ 1,1,1,1,1,1,1,0 ]
		,"xs": [ -1 ]
		,"x": [
			3
			,3
			,3
			,3.75
			,3.75
			,3.5
			,2.25
			,1.25
		]
		,"y": [
			-1.875
			,-1.875
			,-1.875
			,-1.875
			,-1.24
			,0.75
			,-0.375
			,-1.25
		]
		,"r": [
			0
			,0
			,0
			,10
			,60
			,135
			,130
			,135
			,125
		]
		,"sitpos": [ "stand" ]
		,"emote": [ "oooh" ]
		,"dance": [ "victimrun" ]
	}
	,"bellybed":{
		"seconds":[ 0.0 ]
		,"seat":"firstOccupant"
		,"loop":true
		,"visible": [1]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 1.3125 ] // why is it half a pixel off ugh
		,"y": [ -2.0 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "sleep" ]
		,"dance": [ ]
	}
	,"bellyhug":{
		"seconds":[ 0.0 ]
		,"seat":"firstOccupant"
		,"loop":true
		,"visible": [1]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 1.8175 ] // why is it half a pixel off ugh
		,"y": [ -2.0 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "sleep" ]
		,"dance": [ ]
	}
	,"pinned":{
		"seat":"firstOccupant"
		,"loop":false
		,"interpMode":1
		,"frames": [ 0, 2, 4 ]
		,"visible": [ 1 ]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 1.8175, 2, 3.8175 ] // why is it half a pixel off ugh
		,"y": [ -2.0, -3.125, -3.5 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "idle" ]
		,"dance": [ ]
	}
	,"unpin":{
		"seat":"firstOccupant"
		,"loop":false
		,"interpMode":1
		,"frames": [ 0, 2, 4 ]
		,"visible": [1]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 3.8175, 2, 1.3125 ] // why is it half a pixel off ugh
		,"y": [ -3.5, -3.125, -2.0 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "sleep" ]
		,"dance": [ ]
	}
	,"sitpinned":{
		"seat":"firstOccupant"
		,"loop":false
		,"interpMode":1
		,"frames": [ 0, 1 ]
		,"visible": [ 1 ]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 3.5, 3.8175 ] // why is it half a pixel off ugh
		,"y": [ -1.75, -3.5 ]
		,"r": [ 0, -90.0 ]
		,"sitpos": [ "stand", "lay" ]
		,"emote": [ "idle" ]
		,"dance": [ ]
	}
	,"situnpin":{
		"seat":"firstOccupant"
		,"loop":false
		,"interpMode":1
		,"frames": [ 1, 2 ]
		,"visible": [1]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 3.8175, 3.5 ] // why is it half a pixel off ugh
		,"y": [ -3.5, -1.75 ]
		,"r": [ -90.0, 0.0 ]
		,"sitpos": [ "lay", "stand" ]
		,"emote": [ "idle" ]
		,"dance": [ ]
	}
	, "escape":{
		"seat":"firstOccupant"
		,"loop":false
		,"interpMode":1
		,"transformGroup":"victimposition"
		,"frames":[ 0,1,2,3,4,5,6]
		,"visible": [ 0,1,1,1,1,1,1 ]
		,"xs": [ -1 ]
		,"x": [
			1.25
			,1.25
			,1.25
			,2.75
			,3.5
			,3.5
			,3.5
		]
		,"y": [
			-1.25
			,-1.25
			,-1.0
			,-0.75
			,-0.75
			,-1.5
			,-1.875
		]
		,"r": [
			125
			,135
			,130
			,135
			,100
			,40
			,0
		]
		,"sitpos": [ "stand" ]
		,"emote": [ "oooh" ]
		,"dance": [ "victimrun" ]
	}
	, "playereat2":{
		"seat":"secondOccupant"
		,"loop":false
		,"interpMode":1
		,"transformGroup":"victimposition2"
		,"frames":[ 0,1,2,3,4,5,6,7]
		,"visible": [ 1,1,1,1,1,1,1,0 ]
		,"xs": [ -1 ]
		,"x": [
			3
			,3
			,3
			,3.75
			,3.75
			,3.5
			,2.25
			,1.25
		]
		,"y": [
			-1.875
			,-1.875
			,-1.875
			,-1.875
			,-1.24
			,0.75
			,-0.375
			,-1.25
		]
		,"r": [
			0
			,0
			,0
			,10
			,60
			,135
			,130
			,135
			,125
		]
		,"sitpos": [ "stand" ]
		,"emote": [ "oooh" ]
		,"dance": [ "victimrun" ]
	}
	, "escape2":{
		"seat":"secondOccupant"
		,"loop":false
		,"interpMode":1
		,"transformGroup":"victimposition2"
		,"frames":[ 0,1,2,3,4,5,6]
		,"visible": [ 0,1,1,1,1,1,1 ]
		,"xs": [ -1 ]
		,"x": [
			1.25
			,1.25
			,1.25
			,2.75
			,3.5
			,3.5
			,3.5
		]
		,"y": [
			-1.25
			,-1.25
			,-1.0
			,-0.75
			,-0.75
			,-1.5
			,-1.875
		]
		,"r": [
			125
			,135
			,130
			,135
			,100
			,40
			,0
		]
		,"sitpos": [ "stand" ]
		,"emote": [ "oooh" ]
		,"dance": [ "victimrun" ]
	}
	,"center":{
		"seconds":[ 0.0 ]
		,"seat":"firstOccupant"
		,"loop":true
		,"visible": [0]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 0.0 ]
		,"y": [ -1.0 ]
		,"r": [ 0.0 ]
		,"sitpos": [ "sit" ]
		,"emote": [ ]
		,"dance": [ ]
	}
	,"center2":{
		"seconds":[ 0.0 ]
		,"seat":"secondOccupant"
		,"loop":true
		,"visible": [0]
		,"transformGroup":"victimposition2"
		,"xs": [ -1 ]
		,"x": [ 0.0 ]
		,"y": [ -1.0 ]
		,"r": [ 0.0 ]
		,"sitpos": [ "sit" ]
		,"emote": [ ]
		,"dance": [ ]
	},
	"hug.s_up":{
		"seat":"firstOccupant"
		,"loop": false
		,"frames": [ 0,1,3 ]
		,"visible": [ 1 ]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 1.8175 ] // why is it half a pixel off ugh
		,"y": [ -2.0, -1.75, -2.0 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "sleep" ]
		,"dance": [ ]
	},
	"hug.s_front":{
		"seat":"firstOccupant"
		,"loop": false
		,"frames": [ 0,1,2 ]
		,"visible": [ 1 ]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 1.8175, 2.0675, 1.8175 ] // why is it half a pixel off ugh
		,"y": [ -2.0 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "sleep" ]
		,"dance": [ ]
	},
	"hug.s_back":{
		"seat":"firstOccupant"
		,"loop": false
		,"frames": [ 0,1,2 ]
		,"visible": [ 1 ]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 1.8175, 1.5675, 1.8175 ] // why is it half a pixel off ugh
		,"y": [ -2.0 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "sleep" ]
		,"dance": [ ]
	},
	"hug.s_down":{
		"seat":"firstOccupant"
		,"loop": false
		,"frames": [ 0,1,2 ]
		,"visible": [ 1 ]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 1.8175 ] // why is it half a pixel off ugh
		,"y": [ -2.0, -2.25, -2.0 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "sleep" ]
		,"dance": [ ]
	},
	"pinned.s_up": {
		"seat":"firstOccupant"
		,"loop":false
		,"interpMode":1
		,"frames": [ 0,1,2 ]
		,"visible": [ 1 ]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 3.8175 ] // why is it half a pixel off ugh
		,"y": [ -3.5, -3.375, -3.5 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "idle" ]
		,"dance": [ ]
	},
	"pinned.s_front": {
		"seat":"firstOccupant"
		,"loop":false
		,"interpMode":1
		,"frames": [ 0,1,2 ]
		,"visible": [ 1 ]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 3.8175, 4.0675, 3.8175 ] // why is it half a pixel off ugh
		,"y": [ -3.5 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "idle" ]
		,"dance": [ ]
	},
	"pinned.s_back": {
		"seat":"firstOccupant"
		,"loop":false
		,"interpMode":1
		,"frames": [ 0,1,2 ]
		,"visible": [ 1 ]
		,"transformGroup":"victimposition"
		,"xs": [ -1 ]
		,"x": [ 3.8175, 3.5675, 3.8175 ] // why is it half a pixel off ugh
		,"y": [ -3.5 ]
		,"r": [ -90.0 ]
		,"sitpos": [ "lay" ]
		,"emote": [ "idle" ]
		,"dance": [ ]
	}
}