{
	"inedibleCreatures" : [
		"apeboss",
		"apebossprojector",
		"crystalboss",
		//"cultistboss", // She IS a human after all... very much nommable... not sure if eating her would break shit though
		"dragonboss",
		"eyeboss",
		"guardianboss",
		"guardianminion", // these are small, but they're also part of the boss so... probably shouldn't eat them
		"kluexboss",
		"kluexbossstatue",
		"ophanim", // I'm not sure what these are but they're in the boss folder so
		//"penguinMiniUfo", // small enough to edible I think
		"penguinUfo",
		"robotboss",
		"spiderboss",
		"swansong",
		"penguinUfo",
		// below are 'monsters' from other mods that should not be edible, report any and they'll be added to the list
		"supbar"
	],
	"speciesStrugglesDisabled" : [
		"egg",
		"xeronious_egg"
	],
	"bellyStatusEffects" : [
		"pvsoRemoveBellyEffects",
		"pvsoVoreHeal",
		"pvsoDigest",
		"pvsoSoftDigest",
		"pvsoDisplayVoreHeal",
		"pvsoDisplayDigest",
		"pvsoDisplaySoftDigest"
	],
	"bellyDisplayStatusEffects" : {
		"pvsoVoreHeal": "pvsoDisplayVoreHeal",
		"pvsoDigest": "pvsoDisplayDigest",
		"pvsoSoftDigest": "pvsoDisplaySoftDigest"
	},
	"defaultSettings" : {
		"bellyEffect" : "pvsoRemoveBellyEffects",
		"bellySounds" : true,
		"diaplayDamage" : false,
		"escapeModifier" : "normal",
		"fatten" : 0
	}

}
