{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],
		"listLocations" : [
			"belly",
			"womb",
			"shaft",
			"balls",
			"breasts"
		],
		"voreTypes" : {
			"oralVore" : "belly",
			"unbirth" : "womb",
			"cockVore" : "shaft",
			"analVore" : "belly",
			"navelVore" : "belly",
			"breastVore" : "breasts"
		},
		"defaultSettings" : {
			"bra" : false,
			"underwear" : false,

			"symmetricalBalls" : true,
			"symmetricalBreasts" : true,

			"breasts" : false,
			"penis" : false,
			"balls" : false,
			"pussy" : false
		}
	},
	"states" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"]
	}
}
