{
	"sbqData" : {
		"victimAnimations": "/humanoid/victim_animations.config",
		"locations" :{
			"belly" : { "name" : "Belly", "combine":["womb"], "max": 1, "digest" : true, "hammerspace" : true, "minVisual" : 0 },
			"womb" : { "name" : "Womb", "max": 1, "hammerspace" : true, "minVisual" : 0 },

			"shaft" : { "name" : "Shaft", "max": 1, "maxNested" : -1, "minVisual" : 0 },
			"balls" : { "sided" : true, "max": 1 },
			"ballsL" : { "name" : "Left Ball", "max": 1, "hammerspace" : true, "minVisual" : 0 },
			"ballsR" : { "name" : "Right Ball", "max": 1, "hammerspace" : true, "minVisual" : 0 }

		},
		"allowedModifiers" : {
			"fatten": {"min": 0, "max": 1},
			"escapeDifficulty": {"min": -100, "max": 100},
			"bellyEffect": { "sbqRemoveBellyEffects":true, "sbqHeal":true, "sbqDigest":true, "sbqSoftDigest":true },
			"bellyMultiplier": {"min": 0, "max": 100},
			"displayDigest": "bool"
		}
	},
	"states": {
		"stand": {
			"edible" : true,
			"transitions": {
				// directional = occupant0 can press that direction to transition
				"oralVore" : {
					"script" : "oralVore",
					"voreType" : "oralVore",
					"location" : "belly",
					"failOnFull" : true,
					"victimAnimation" : "oralVore",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"oralEscape" : {
					"script" : "oralEscape",
					"voreType" : "oralVore",
					"location" : "belly",
					"victimAnimation" : "oralEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"analVore" : {
					"script" : "analVore",
					"voreType" : "analVore",
					"location" : "belly",
					"failOnFull" : true,
					"victimAnimation" : "analVore",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"analEscape" : {
					"script" : "analEscape",
					"voreType" : "analVore",
					"location" : "belly",
					"victimAnimation" : "analEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"unbirth" : {
					"script" : "unbirth",
					"voreType" : "unbirth",
					"location" : "womb",
					"failOnFull" : true,
					"victimAnimation" : "unbirth",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"unbirthEscape" : {
					"script" : "unbirthEscape",
					"voreType" : "unbirth",
					"location" : "belly",
					"victimAnimation" : "unbirthEscape",
					"timing" : "belly",
					"animation" : {
						"belly" : "dummyEat"
					}
				},
				"cockVore" : {
					"script" : "cockVore",
					"voreType" : "cockVore",
					"victimAnimation" : "cockVore",
					"timing" : "cock",
					"animation" : {
						"cock" : "dummyEat"
					}
				},
				"cockEscape" : {
					"script" : "cockEscape",
					"voreType" : "cockVore",
					"location" : "shaft",
					"victimAnimation" : "cockEscape",
					"timing" : "cock",
					"animation" : {
						"cock" : "dummyEat"
					}
				}
			},
			"shrinkAnims":{
				"belly": { "belly": "shrink" },
				"shaft": { "cock": "shrink" }
			},
			"expandAnims":{
				"belly": { "belly": "expand" },
				"shaft": { "cock": "expand" }
			},
			"locationCenters" : {
				"belly" : [0, -2]
			},
			"struggle": {
				"belly" : {
					"parts" : ["belly"],
					"directions" : {
						"up": { "transition": "oralEscape", "indicate" : "red", "drivingEnabled" : true },
						"down": { "transition": "analEscape", "indicate" : "red", "drivingEnabled" : true },
						"front": {},
						"back": {}
					},
					"chances": { "min": 5, "max": 7 }
				},
				"womb" : {
					"parts" : ["belly"],
					"directions" : {
						"up": { },
						"down": { "transition": "unbirthEscape", "indicate" : "red", "drivingEnabled" : true, "settings" : { "pussy" : true, "underwear" : false } },
						"front": {},
						"back": {}
					},
					"chances": { "min": 5, "max": 7 }
				},
				"shaft" : {
					"parts" : ["cock"],
					"directions":{
						"down": { "transition": "cockEscape", "indicate": "red", "drivingEnabled": true, "settings" : { "penis" : true, "underwear" : false } },
						"front": { "transition": "cockEscape", "indicate": "red", "drivingEnabled": true, "settings" : { "penis" : true, "underwear" : false } },
						"back": { "transition": "shaftToBalls", "indicate": "cyan", "drivingEnabled": true, "settings" : { "balls" : true } },
						"up": { "transition": "shaftToBalls", "indicate": "cyan", "drivingEnabled": true, "settings" : { "balls" : true } }
					},
					"chances": { "min": 5, "max": 10 }
				},
				"ballsL" : {
					"sided" :{
						"rightParts" : ["ballsBack"],
						"leftParts" : ["ballsFront"]
					},
					"directions":{
						"up": { "transition": "ballsToShaft", "indicate": "green", "drivingEnabled": true, "settings" : { "penis" : true } },
						"front": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"back": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"down": {}
					},
					"chances": { "min": 5, "max": 10 }
				},
				"ballsR" : {
					"sided" :{
						"rightParts" : ["ballsFront"],
						"leftParts" : ["ballsBack"]
					},
					"directions":{
						"up": { "transition": "ballsToShaft", "indicate": "green", "drivingEnabled": true, "settings" : { "penis" : true } },
						"front": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"back": { "transition": "switchBalls", "indicate": "cyan", "drivingEnabled": true },
						"down": {}
					},
					"chances": { "min": 5, "max": 10 }
				}
			}
		}
	}
}
