
// for registering a species with unique data and scripts, if not an absolute path, it gets the file in the species' folder
{
	// species
	"glitch" : "sbqData.config",
	"avali" : "sbqData.config",
	"novali" : "sbqData.config",
	"novakid" : "sbqData.config",
	"myfirsttest" : "sbqData.config", // latex

	// NPCs with unique scripts
	"sbqZevi_Zygahedron" : "sbqData.config",
	"sbqSocks_LokiVulpix" : "sbqData.config",
	"sbqSandy_Fevix" : "sbqData.config",
	"sbqHelena_FFWizard" : "sbqData.config",
	"sbqAuri_LokiVulpix" : "sbqData.config",
	"sbqThalins_Thalins" : "sbqData.config"


}
