{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],
		"listLocations" : [
			"belly",
			"womb",
			"shaft",
			"balls",
			"breasts"
		],
		"voreTypes" : {
			"oralVore" : "belly",
			"unbirth" : "womb",
			"cockVore" : "shaft",
			"analVore" : "belly",
			"navelVore" : "belly",
			"breastVore" : "breasts"
		}
	},
	"states" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"]
	}
}
