{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background", // 240 width
			"fileHeader" : "/interface/scripted/sbq/header.png", // 24
			"fileBody" : "/interface/scripted/sbq/body.png", // 112
			"fileFooter" : "/interface/scripted/sbq/footer.png" // 40
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 224, 158 ]
		},

		"settingsMenu" : {
			"type" : "button",
			"base" : "/interface/scripted/sbq/settings.png",
			"hover" : "/interface/scripted/sbq/settingshover.png",
			"pressed" : "/interface/scripted/sbq/settingspress.png",
			"pressedOffset" : [ 0, 0 ],
			"position" : [ 204, 158 ]
		},

		"icon" : {
			"type" : "image",
			"file" : "/vehicles/sbq/sbqVaporeon/skins/default/icon.png?replace;a34c9a=545455;cc72c3=8a8a8b;ef99e7=b3b3b4;ffcfe9=e0e0e1;fae2ef=fefeff",
			"position" : [ 8, 156 ]
		},

		"title" : {
			"type" : "title",
			"title" : "Vaporeon Customizer",
			"subtitle" : "fishcat fishcat fishcat"
		},

		"colorsLabel": {
			"type" : "label",
			"value" : "Color Palette",
			"position" : [ 7, 139 ]
		},

		"prevColor1":{
			"data" : [1,-1],
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 7, 125 ],
			"zlevel" : 2
		},
		"labelColor1":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 20, 125 ]
		},
		"nextColor1":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 25, 125 ],
			"zlevel" : 2
		},
		"glowColor1" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 35, 125 ]
		},
		"labelColor1Name": {
			"type" : "label",
			"value" : "Main Body",
			"position" : [ 45, 125 ]
		},

		"prevColor2":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 7, 110 ],
			"zlevel" : 2
		},
		"labelColor2":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 20, 110 ]
		},
		"nextColor2":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 25, 110 ],
			"zlevel" : 2
		},
		"glowColor2" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 35, 110 ]
		},
		"labelColor2Name": {
			"type" : "label",
			"value" : "Dorsal Fins",
			"position" : [ 45, 110 ]
		},


		"prevColor3":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 7, 95 ],
			"zlevel" : 2
		},
		"labelColor3":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 20, 95 ]
		},
		"nextColor3":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 25, 95 ],
			"zlevel" : 2
		},
		"glowColor3" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 35, 95 ]
		},
		"labelColor3Name": {
			"type" : "label",
			"value" : "Underbelly",
			"position" : [ 45, 95 ]
		},


		"prevColor4":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 7, 80 ],
			"zlevel" : 2
		},
		"labelColor4":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 20, 80 ]
		},
		"nextColor4":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 25, 80 ],
			"zlevel" : 2
		},
		"glowColor4" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 35, 80 ]
		},
		"labelColor4Name": {
			"type" : "label",
			"value" : "Head Fins",
			"position" : [ 45, 80 ]
		},

		"prevColor5":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 7, 65 ],
			"zlevel" : 2
		},
		"labelColor5":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 20, 65 ]
		},
		"nextColor5":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 25, 65 ],
			"zlevel" : 2
		},
		"glowColor5" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 35, 65 ]
		},
		"labelColor5Name": {
			"type" : "label",
			"value" : "Neck Fins",
			"position" : [ 45, 65 ]
		},

		"prevColor6":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 7, 50 ],
			"zlevel" : 2
		},
		"labelColor6":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 20, 50 ]
		},
		"nextColor6":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 25, 50 ],
			"zlevel" : 2
		},
		"glowColor6" : {
			"type" : "button",
			"base" : "/interface/optionsmenu/checkboxnocheck.png",
			"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
			"checkable" : true,
			"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
			"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
			"position" : [ 35, 50 ]
		},
		"labelColor6Name": {
			"type" : "label",
			"value" : "Eyes",
			"position" : [ 45, 50 ]
		},

		"SkinSelect":{
			"type" : "label",
			"value" : "Skins",
			"position" : [ 90, 139 ]
		},

		"prevhead":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 90, 125 ],
			"zlevel" : 2
		},
		"labelhead":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 116.5, 125 ]
		},
		"nexthead":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 135, 125 ],
			"zlevel" : 2
		},
		"labelheadName": {
			"type" : "label",
			"value" : "Head",
			"position" : [ 145, 125 ]
		},


		"prevbody":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 90, 110 ],
			"zlevel" : 2
		},
		"labelbody":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 116.5, 110 ]
		},
		"nextbody":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 135, 110 ],
			"zlevel" : 2
		},
		"labelbodyName": {
			"type" : "label",
			"value" : "Body",
			"position" : [ 145, 110 ]
		},


		"prevlegs":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 90, 95 ],
			"zlevel" : 2
		},
		"labellegs":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 116.5, 95 ]
		},
		"nextlegs":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 135, 95 ],
			"zlevel" : 2
		},
		"labellegsName": {
			"type" : "label",
			"value" : "Legs",
			"position" : [ 145, 95 ]
		},


		"prevtail":{
			"type" : "button",
			"base" : "/interface/pickleft.png",
			"hover" : "/interface/pickleftover.png",
			"position" : [ 90, 80 ],
			"zlevel" : 2
		},
		"labeltail":{
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "1",
			"position" : [ 116.5, 80 ]
		},
		"nexttail":{
			"type" : "button",
			"base" : "/interface/pickright.png",
			"hover" : "/interface/pickrightover.png",
			"position" : [ 135, 80 ],
			"zlevel" : 2
		},
		"labeltailName": {
			"type" : "label",
			"value" : "Tail",
			"position" : [ 145, 80 ]
		}
	},

	"scriptWidgetCallbacks" : [
		"settingsMenu",
		"prevColor1",
		"prevColor2",
		"prevColor3",
		"prevColor4",
		"prevColor5",
		"prevColor6",
		"nextColor1",
		"nextColor2",
		"nextColor3",
		"nextColor4",
		"nextColor5",
		"nextColor6",
		"glowColor1",
		"glowColor2",
		"glowColor3",
		"glowColor4",
		"glowColor5",
		"glowColor6",
		"prevhead",
		"nexthead",
		"prevbody",
		"nextbody",
		"prevlegs",
		"nextlegs",
		"prevtail",
		"nexttail"
	],

	"scripts" : [ "/interface/scripted/sbq/sbqVaporeonCustomize/sbqVaporeonCustomize.lua" ],
	"scriptDelta" : 5
}
