{
	"cockVore":{
		"endInside" : true,
		"frames": [0,1,2,5],
		"visible": [1,0,0,0],
		"ys": [ 1, 0.3 ],
		"xs": [ 1, 0.3 ],
		"x": [ 1, null, 0.8, 0.5],
		"y": [ -3, null, -3.2, -3.5 ],
		"r": [ 0, 120 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"cockEscape":{
		"frames": [0,3,4,5],
		"visible": [0,0,1,1],
		"ys": [ 0.3, null, null, 1 ],
		"xs": [ 0.3, null, null, 1 ],
		"x": [ 0.5, null, 0.8, 1],
		"y": [ -3, null, -3.2, -3.5 ],
		"r": [ -60, null, null, 0 ],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"oralVore":{
		"endInside" : true,
		"visible": [ 1,1,1,1,1,0,0,0 ],
		"xs": [ -1, -0.75, -0.5 ],
		"ys": [ 1, 0.75, 0.5],
		"x": [2,1.5,1,0.5,0],
		"y": [-2,-0.5,null,null,null,null,-2,-3],
		"r": [0,15,45,90],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	},
	"oralEscape":{
		"visible": [ 0,0,0,1,1,1,1,1 ],
		"xs": [-0.5, null, null, null, null, -0.5, -0.75, -1 ],
		"ys": [0.5, null, null, null, null, 0.5, 0.75, 1 ],
		"x": [0, null, null, null, 0.5, 1, 1.5, 2],
		"y": [-3, -2, -0.5, null, null, null, null, -2],
		"r": [90, null, null, null, null, 45, 15, 0],
		"sitpos": [ "stand" ],
		"emote": [ "oooh" ],
		"dance": [ "sbqRun" ]
	}
}
