{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],

		"listLocations" : [
			"breasts",
			"belly",
			"tail",
			"womb",
			"shaft",
			"balls"
		],
		"voreTypes" : {
			"oralVore" : "belly",
			"unbirth" : "womb",
			"cockVore" : "shaft",
			"analVore" : "belly",
			"breastVore" : "breasts"
		},

		"overrideSettings" : {
			"navel" : false,
			"navelVorePred" : false,

			"wombDigestEnable" : false,
			"wombSoftDigestEnable" : false,

			"bellyDigestEnable" : false,
			"ballsDigestEnable" : false,
			"tailDigestEnable" : false,
			"breastsDigestEnable" : false,
			"shaftEffectSlot" : "none",
			"shaftDigestEnable" : false,
			"shaftSoftDigestEnable" : false,
			"shaftHealEnable" : false
		},
		"overridePreyEnabled" : {
			"navelVore": false,

			"genderswapAllow": false,

			"femcumSoftDigestAllow": false,

			"digestAllow": false,
			"cumDigestAllow": false,
			"femcumDigestAllow": false,
			"milkDigestAllow": false
		},
		"locations" : {
			"womb" : {
				"TF" : false
				//"TF" : { "data": {"species" : "drimyr", "playerSpeciesTF":true}}
			},
			"shaft" : { "TF" : false }
		}
	}
}
