{
	"sbqData" : {
		"merge" : ["/humanoid/sbqDataGeneral.config"],

		"listLocations" : [
			"breasts",
			"belly",
			"tail",
			"womb",
			"shaft",
			"balls"
		],
		"voreTypes" : {
			"oralVore" : "belly",
			"unbirth" : "womb",
			"cockVore" : "shaft",
			"analVore" : "belly",
			"breastVore" : "breasts"
		},

		"overrideSettings" : {
			"navelVorePred" : false,

			"wombDigestEnable" : false,
			"wombSoftDigestEnable" : false,

			"bellyDigestEnable" : false,
			"ballsDigestEnable" : false,
			"tailDigestEnable" : false,
			"breastsDigestEnable" : false,
			"shaftDigestEnable" : false
		},

		"overridePreyEnabled" : {
			"navelVore": false,

			"genderswapImmunity" : true,

			"allowFemcumSoftDigest" : false,

			"digestImmunity": true,
			"cumDigestImmunity": true,
			"femcumDigestImmunity": true,
			"milkDigestImmunity" : true
		},
		"locations" : {
			"womb" : {
				"TF" : false
				//"TF" : { "data": {"species" : "drimyr", "playerSpeciesTF":true}}
			},
			"shaft" : { "TF" : false }
		}
	}
}
